{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n l10n %}
{% load humanize %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/scripts/scripts_general.js'%}?{% now "Ymd"%}" type="text/javascript"></script>
    <script src="{% static 'js/lib/server_datatable.js' %}?{% now "Ymd" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var presupDataUrl = "{% url 'cpb_presup_data' %}";
    </script>
    <script src="{% static 'js/scripts/scripts_cpb_presup_listado.js' %}?{% now "Ymd" %}" type="text/javascript"></script>
{% endblock %}
{% block main %}
         <div id="cargando" class="cargando" >
            <span class="cargando-txt">CARGANDO...</span>
            <img class="cargando-img" src="{% static 'img/loading-bars.svg' %}">
        </div>
          <div class="col-md-12 cerca">
            <div class="portlet box toolbar_violet">
                <div class="portlet-title">
                    <div class="caption bold">
                                <i class="icon-briefcase"></i>PRESUPUESTOS <small>carga e impresión</small>
                    </div>
                    <div class="actions">
                            <button tittle="Búsqueda Avanzada" data-toggle="collapse" aria-expanded="true"  class="btn btn-circle active" data-target="#barra_busqueda" aria-controls="barra_busqueda"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
                {% include "general/varios/barra_busqueda_compras.html" %}
                 <div class="btn-group" style="float:left;margin-right:20px;margin-bottom:10px;">
                     <a class="btn btn-sm purple-plum" style="float:left;margin-right:20px;" href="{% url 'cpb_presup_nuevo' %}">Nuevo Presupuesto</a>
                 </div>

                    <table id="dataTables-cpb_presupuesto" style="display:none;"  class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">
                        <thead>
                            <tr>
                                <th class="no-sort text-center"></th>
                                <th class="imprimir text-center">Estado</th>
                                <th class="imprimir text-center">Aprobación</th>
                                <th class="imprimir text-center">Fecha CPB</th>
                                <th class="imprimir text-center">Vencimiento</th>
                                <th class="imprimir">Nº CPB</th>
                                <th class="imprimir">Cliente</th>
                                <th class="imprimir text-right">Total</th>
                                <th class="imprimir text-right">Importe</th>
                                <th class="imprimir text-right">IVA</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="importe"></th>
                                <th class="importe"></th>
                                <th class="importe"></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>

            </div>

{% endblock main %}
