{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load i18n %}

<div id="form-container">
    <form role="form" class="form " method="POST" action="" id="form-alta" enctype="multipart/form-data">
     {% csrf_token %}         

        <div class="col-xs-12">
	         	<div class="row">										
					<label class="control-label col-sm-2" for="id_fecha_cpb">Estado Orden:</label>
					<div class="col-sm-4 col-xs-12">{% bootstrap_field form.estado show_label=False %}</div>																		  
			  	</div>								
		</div>
   
    </form>
</div>