{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% load humanize %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/comprobantes.css'%}" type="text/css" >
{% endblock %}
<div class="modal-dialog modal-modal ">
  <div class="modal-content">
    <div class="modal-wrapper">
      <div data-dismiss="modal" class="close-modal"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button></div>
      <div class="modal-head">TOTAL DIARIO</div>
      <div class="modal-body  text-center">
        <div class="row">
          <div class="col-sm-6">{{tot_debe}}</div>
          <div class="col-sm-6">{{tot_haber}}</div>
          
        </div>
      </div>
      <div class="modal-buttons">
         <div class="col-xs-12" id="form-container">
          <div class="row">
          <div class="col-xs-6">
            <button data-dismiss="modal" class="btn btn-sm pull-left btn btn-danger" type="button">
            <i class="fa fa-times"></i> {% trans 'Cancelar' %}
            </button>
          </div>
         </div> 
        </div>
        
      </div>
      
    </div>
  </div>
  
</div>