{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load humanize %}
{% block main %} 
    
        <div class="row">
          <div class="col-md-12">   
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                                <i class="icon-user"></i>LIBRO IVA VENTAS

                    </div>
                </div> 
            </div>                    
                    <div class="row">
                        <div class="col-sm-12">
                                     
                        </div>
                    </div>
                    
                    <table id="dataTables-cpb_venta" class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">         
                        <thead>
                            <tr>
                                <th class="text-center">Fecha</th>  
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Comprobante</th>
                                <th class="text-center">Cliente</th>    
                                <th class="text-center">CUIT</th>
                                <th class="text-center">Condic.IVA</th>                                
                                <th class="text-right">Total Neto 21%</th>                                                                                                                             
                                <th class="text-right">Total IVA 21%</th>                                                                                                                             
                                <th class="text-right">Total Neto 21%</th>                                                                                                                             
                                <th class="text-right">Total IVA 21%</th>                                                                                                                             
                                <th class="text-right">Total Neto 21%</th>                                                                                                                             
                                <th class="text-right">Total IVA 21%</th>                                                                                                                             
                                <th class="text-right">Total Neto 21%</th>                                                                                                                             
                                <th class="text-right">Total IVA 21%</th>                                                                                                                             
                            </tr>
                        </thead>
                        <tbody>
                            {% for cpb in cpbs %}
                            <tr title="{{cpb.cpb_comprobante}}">                                
                                <td class="text-center">{{cpb.cpb_comprobante__fecha_cpb|date:'d/m/Y'}}</td>
                                <td class="text-center">{{ cpb.cpb_comprobante__cpb_tipo__codigo|default_if_none:'' }}</td>                                
                                <td class="text-center">{{ cpb.cpb_comprobante__pto_vta}}-{{ cpb.cpb_comprobante__letra}}-{{ cpb.cpb_comprobante__numero}}</td>                                
                                <td class="text-center">{{ cpb.cpb_comprobante__entidad__apellido_y_nombre }}</td> 
                                <td class="text-center">{{ cpb.cpb_comprobante__entidad__fact_cuit|default_if_none:'' }}</td> 
                                <td class="text-center">{{ cpb.cpb_comprobante__entidad__fact_categFiscal|default_if_none:'' }}</td> 
                                
                                <td class="text-center">{{ cpb.tasa_iva__nombre|default_if_none:'' }}</td>                                
                                <td class="importe">${{cpb.importe_base|default_if_none:0|floatformat:2}}</td>                                 
                                <td class="importe">${{cpb.importe_total|default_if_none:0|floatformat:2}}</td>                                 
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th> 
                                <th></th> 
                                <th></th>                                 
                                <th></th>
                                <th class="importe"></th>                                 
                            </tr>
                        </tfoot>
                    </table>                                                 
                
            </div>
           </div>
        </div>
      </div>


<script type="text/javascript">


</script>
{% endblock main %}





