{% load i18n %}
{% load static %}
{% load fm_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'fm/css/modal.css' %}" />
  <link rel="stylesheet" href="{% static 'css/comprobantes.css'%}" type="text/css" >  
{% endblock %}
<div tabindex="-1" role="dialog" aria-hidden="true" id="fm-modal" class="fm-modal modal" data-backdrop="static"  data-keyboard="false">
    <div class="modal-loader" style="display: none;">
        <img class="modal-loader-img" src="{% static 'fm/img/loading-bars.svg' %}">
    </div>
    <div id='cargando' class="modal-loader2" style="display: none;">
        <img class="modal-loader-img2" src="{% static 'fm/img/oval.svg' %}">
    </div>
    <div class="modal-dialog modal-content cabecera">        
        
        <div class="ancho-modal">
            <div class="row">
                    <div class="modal-wrapper" style="display: none;">
                        <div data-dismiss="modal" class="close-modal">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>        
                        </div>
                        <div class="modal-head"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button></div>
                        <div class="modal-body"></div>
                        <div class="modal-buttons">
                            <div class="row">
                                <div class="col-xs-6">
                                  <button data-dismiss="modal" class="btn pull-left btn red-flamingo" type="button">
                                      <i class="fa fa-times"></i> {% trans 'Cancelar' %}
                                  </button>
                                </div>
                                <div class="col-xs-6">
                                 <button class="btn pull-right blue-steel" id="Aceptar" type="submit">{% trans 'Aceptar' %}</button>
                                </div>
                              
                              </div>
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

