{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load i18n %}

  <div id="form-container">
    <form role="form" class="form " method="POST" action="" id="form-alta" enctype="multipart/form-data">
     {% csrf_token %}         
        {{ form.media }}
         <div class="row">
	         <div class="col-xs-12">
		        <div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active">
							<a href="#tab_15_1" data-toggle="tab" aria-expanded="true">
							DATOS GENERALES</a>
						</li>
						<li>
							<a href="#tab_15_2" data-toggle="tab">
							FACTURACIÓN</a>
						</li>
						
						<li>
							<a href="#tab_15_3" data-toggle="tab">
							DATOS EXTRA </a>
						</li>		
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_15_1">
							<div class="col-xs-12">
   								  <div class="row cerca">
										<div class="col-sm-3">{% bootstrap_field form.codigo %}</div>										
										<div class="col-sm-9">{% bootstrap_field form.nombre %}</div>																		  
								  </div>
								  <div class="row cerca">
							       		<div class="col-sm-12">{% bootstrap_field form.codigo_barras %}</div>											
								  </div>
								  <div class="row cerca">
							       	<div class="col-sm-6">{% bootstrap_field form.categoria %}</div>
							       	<div class="col-sm-6">{% bootstrap_field form.tipo_producto %}</div>		
							     </div>
							     <div class="row cerca">
							       	<div class="col-sm-6">{% bootstrap_field form.mostrar_en %}</div>	
							     </div>
							     <div class="row cerca">							       	
							       	<div class="col-sm-6 col-xs-12 pull-right">							       	
								       	<div class="col-sm-6 col-xs-12">{% bootstrap_field form.llevar_stock show_label=False %}</div>									       	
								       	<div class="col-sm-6 col-xs-12">{% bootstrap_field form.stock_negativo show_label=False %}</div>								       	
							       	</div>
							       	<div class="col-sm-6 col-xs-12">							       	
								       	<div class="col-sm-6">{% bootstrap_field form.stock %}</div>	
							       		<div class="col-sm-6">{% bootstrap_field form.unidad %}</div>					       	
							       	</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab_15_2">
							<div class="col-xs-12">   								  
								  <div class="row cerca">
							     	<div class="col-sm-10">{% bootstrap_field form.proveedor %}</div>											
								 				       	
							       	<div class="col-sm-2">{% bootstrap_field form.tasa_iva %}</div>	
							     </div>
								<div class="row cerca">							       	
							       	<div class="col-sm-4">{% bootstrap_field form.precio_costo %}</div>								    
							       	<div class="col-sm-4">{% bootstrap_field form.precio_cimp %}</div>	
							       	<div class="col-sm-4">{% bootstrap_field form.precio_venta %}</div>	
							     </div>
							     <div class="row cerca">							       	
							       	<div class="col-sm-6">{% bootstrap_field form.cta_ingreso %}</div>								    
							       	<div class="col-sm-6">{% bootstrap_field form.cta_egreso %}</div>								       	
							     </div>
							</div>
						</div>
						<div class="tab-pane" id="tab_15_3">
							<div class="col-xs-12">
						        <div class="row cerca">	                
				                      <div class="col-sm-12">              
				                        {% if form.ruta_img.value %} 
				                         <img id="id_foto" src="{{MEDIA_URL}}{{form.ruta_img.value}}" alt="" class="img-square img-responsive imagen">
				                        {% else%}
				                         <img id="id_foto" src="{% static 'images/producto.jpg' %}" alt="" class="img-square img-responsive imagen">
				                        {% endif %}
				                      </div>
				                </div>
				                <div class="row cerca">
				                     <div class="col-sm-12 ">            
				                         {{form.ruta_img|as_crispy_field}}
				                     </div>  		                
					            </div>      
					            <div class="row cerca">
				                     <div class="col-sm-12 ">            
				                         {{form.descripcion|as_crispy_field}}
				                     </div>  		                
					            </div>     
				        	</div> 
						</div>
						{% if form.non_field_errors  %}
					     	<script type="text/javascript">
					     	alertify.errorAlert("{% for err in form.non_field_errors %}{{ err }}{% endfor %}");
					     	</script>
					    {% endif %}       
				        {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
					</div>
				</div>
			</div>
		</div>	    
    </form>
</div>

 <script type="text/javascript">
function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#id_foto').attr('src',e.target.result);
        }
        console.log(input.files[0]);
         
        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});

    </script>