{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}


  <div id="form-container">
    <form role="form" class="form " method="POST" action="" id="form-alta">
     {% csrf_token %}         
     <div class="row">
         <div class="col-xs-12">
	        <fieldset>
	        <legend> DATOS GENERALES </legend>
	        	<div class="row cerca">
	             <div class="col-sm-3 col-xs-12">
	                 {{form.codigo|as_crispy_field}}
	             </div>
	             <div class="col-sm-9 col-xs-12">
	                 {{form.apellido_y_nombre|as_crispy_field}}
	             </div>         
		        </div>
		        <div class="row cerca">	             
	             <div class="col-sm-3 col-xs-6">
	                 {{form.tipo_doc|as_crispy_field}}
	             </div>         
	             <div class="col-sm-3 col-xs-6">
	                 {{form.nro_doc|as_crispy_field}}
	             </div>
	             <div class="col-sm-6 col-xs-12">
	                 {{form.domicilio|as_crispy_field}}
	             </div>             
	            </div>		       
		        <div class="row cerca">
	             <div class="col-sm-4 col-xs-12">
	                 {{form.provincia|as_crispy_field}}
	             </div>         
	             <div class="col-sm-3 col-xs-6">
	                 {{form.cod_postal|as_crispy_field}}
	             </div>         
	             <div class="col-sm-5 col-xs-6">
	                 {{form.localidad|as_crispy_field}}
	             </div>  
		        </div> 
		        <div class="row cerca">
	             <div class="col-sm-4 col-xs-6">
	                 {{form.telefono|as_crispy_field}}
	             </div>         
	             <div class="col-sm-4 col-xs-6">
	                 {{form.celular|as_crispy_field}}
	             </div>
	             <div class="col-sm-4 col-xs-12">
	                 {{form.email|as_crispy_field}}
	             </div>
	             </div> 		             
		        
	         </fieldset>        
	       </div>    
	      </div>		 
		  <div class="row">   	     
	         <div class="col-xs-12">
		        <fieldset>
		        <legend> DATOS EXTRA </legend>
			       <div class="col-xs-12">
				        <div class="row cerca">
					          <div class="col-xs-12">
				                 {{form.observaciones|as_crispy_field}}
				             </div>            
						</div>  
				   </div>				  
		         </fieldset>        
		       </div>
		   </div>		   	
		   	<div class="row">
		         <div class="col-xs-12">
		         	{{form.empresa|as_crispy_field}}
		         </div>
		     </div>    		     
				{% if form.non_field_errors  %}
		     	<script type="text/javascript">
		     	alertify.errorAlert("{% for err in form.non_field_errors %}{{ err }}{% endfor %}");
		     	</script>
		    {% endif %}       	        
	        {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
	  </div>
    </form>
</div>

