{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n l10n %}
{% load humanize %}
{% block main %} 

          <div class="col-md-12">   
                <div class="portlet box toolbar_blue">
                    <div class="portlet-title">
                        <div class="caption bold">
                                    <i class="fa fa-truck"></i>REMITOS DE VENTA <small> impresión</small>
                        </div>
                        <div class="actions">
                            <button  tittle="Búsqueda Avanzada" data-toggle="collapse" aria-expanded="true"  class="btn btn-circle active" data-target="#barra_busqueda" aria-controls="barra_busqueda"><i class="glyphicon glyphicon-search"></i></button>
                    </div>

                    </div> 
                </div>
                    {% include "general/varios/barra_busqueda_compras.html" %}                                
                    <div class="btn-group btnAccion" style="float:left;margin-right:10px;margin-bottom:10px;"> 
                   
                    <a class="btn btn-sm color_barra"  style="margin-right:10px;" href="{% url 'cpb_remito_nuevo_vacio' %}">Nuevo Remito</a>
                   
                    </div>
                    <table id="dataTables-cpb_remito" class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">          
                        <thead>
                            <tr>
                                <th class="no-sort text-center"></th>                                
                                <th class="imprimir">Fecha CPB</th>                                
                                <th class="imprimir">Nº CPB</th>
                                <th class="imprimir">Cliente</th>
                                <th class="imprimir">CPB Factura</th>
                                <th class="imprimir">Descripción</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for cpb in comprobantes %}
                            <tr {% if cpb.estado.pk = 3 %}class="{{cpb.estado_color}}"{% endif %}>                                                          
                                <td><div class="btn-group">
                                      <button type="button" title="{{ cpb.pk|safe}}" class="btn btn-xs color_barra" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-settings"> </i> <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-default">
                                        <li>{% include "general/varios/cpb_ver_dropdown.html" %}</li>
                                        <li><a target="_blank" href="{% url 'imprimirRemito' id=cpb.pk %}"><i class=" icon-printer"></i> Imprimir</a></li>
                                        <li><a href="#" name='mandarEmail' value="{{cpb.pk|safe}}"><i class="icon-envelope-open"></i> Enviar por Email</a></li>
                                            <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'cpb_remito_editar' id=cpb.pk %}"  title="Editar" data-modal-callback="reload" ><i class="icon-note"></i> Editar</a></li>
                                         <li><a href="#" 
                                                    onClick="alerta= alertify.dialog('confirm').set({'labels':{ok:'Aceptar', cancel:'Cancelar'},'message': '¿DESEA ELIMINAR EL REMITO SELECCIONADO?',transition:'fade','onok': function(){ window.location.href = '{% url 'cpb_remito_eliminar' id=cpb.pk %}'; },'oncancel': function(){ return true;} }); alerta.setting('modal', true); alerta.setHeader('ELIMINAR COMPROBANTE'); alerta.show(); return true;"><i class="icon-trash"></i>Eliminar</a>
                                                </li>       
                                        <li role="separator" class="divider"></li>
                                            <li><a href="{% url 'cpb_editar_seguimiento' id=cpb.pk %}"  class="modal-update" data-modal-head="EDITAR SEGUIMIENTO"  title="Editar Seguimiento" data-modal-target="#object-{{ item.pk }}" data-modal-callback="reload" ><i class="icon-speech"></i>Seguimiento</a></li>                                                                               
                                      </ul>
                                    </div> 
                                    {% if cpb.seguimiento %}  <i title="{{cpb.seguimiento}}" class="icon-speech icono_seguimiento"></i> {% endif %}                              
                                    {% if cpb.fecha_envio_mail %}  <i title="Email enviado el {{cpb.fecha_envio_mail|date:'d/m/Y'}}" class="fa fa-envelope-o icono_seguimiento"></i> {% endif %}
                                </td>                                 
                                <td>{{cpb.fecha_cpb|date:'d/m/Y'}}</td>                                
                                <td>{{ cpb}}</td>                                
                                <td  title="{{ cpb.entidad}}" >{% include "entidades/cliente_ver.html" %}</td>                      
                                <td><strong>{{ cpb.id_cpb_padre|default_if_none:'' }}</a><strong></td>                                
                                <td  title="{{ cpb.descripcion}}">{{ cpb.descripcion|default_if_none:''|truncatechars:60 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                         <tfoot>
                            <tr>                                
                                <th></th> 
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>                                
                            </tr>
                        </tfoot>
                    </table>                            
            </div>
   
    
 
<script type="text/javascript">

$(document).ready(function() { 

$.fn.datepicker.dates['es'] = {
    days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
    daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
    today: "Hoy"
  };
  
   $('.datepicker').datepicker({
          format: "dd/mm/yyyy",
          language: "es",
          autoclose: true,
          todayHighlight: true
    }); 
    
moment.locale('es');
$.fn.dataTable.moment('DD/MM/YYYY'); 
var tabla = $('#dataTables-cpb_remito').DataTable({
            "language": {
                "decimal": ",",
                "thousands": ".",                
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay registros en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Ãšltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                      
            },                      
           "columnDefs": [ {
                  "targets"  : 'no-sort',
                  "orderable": false,
                }],          
           "paging":   true,
           "lengthMenu": [[20, 50, -1], [20, 50, "Todos"]],
           "autoWidth": false,
           "order": [],
           "colReorder": true,
           "searching": true,
            fixedHeader: {
              header: true,
              footer: false
              },
            responsive: true,
            dom: 'Bfrtlip',
            buttons: [
                {
                    extend:    'colvis',
                    text:      '<i class="fa fa-list"></i>',
                    titleAttr: 'Ver/Ocultar',
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'copyHtml5',
                    text:      '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copiar',
                    exportOptions: { columns: ':visible' },
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    filename: 'REMITOS',                    
                    exportOptions: {  modifier: {
                                        page: 'current'
                                    }, 
                                      // columns: [ 0, 1, 2, 5 ]
                                      columns: ['.imprimir'],
                                      format: {
                                      body: function(data, row, column, node) {
                                        var floatVal = function (i) {
                                            if (typeof i === "number") {
                                                return i;
                                            } else if (typeof i === "string") {
                                                i = i.replace(/\$/g, "");
                    i = i.replace(/\,/g ,"");                    
                    i = i.replace(/\./g, "");
                                                var result = parseFloat(i)/100;
                                                // console.log(result);
                                                if (isNaN(result)) {
                                                    try {
                                                        var result = $jq(i).text();
                                                        result = parseFloat(result);
                                                        if (isNaN(result)) { result = 0 };
                                                        return result * 1;
                                                    } catch (error) {
                                                        return 0;
                                                    }
                                                } else {
                                                    return result * 1;
                                                }
                                            } else {
                                                alert("Unhandled type for totals [" + (typeof i) + "]");
                                                return 0
                                            }
                                        };
                                          data = $('<p>' + data + '</p>').text();
                                          return (node.className=='importe') ? floatVal(data)  : data;
                                      }
                                    }},
                    className: 'btnToolbar',     
                },
               
                {
                    extend:    'pdfHtml5',
                    text:      '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',footer: true,
                    exportOptions: { columns: '.imprimir'},
                    orientation: 'landscape',
                    className: 'btnToolbar',                    
                },
                {
                    extend: 'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Imprimir',
                    exportOptions: { columns: '.imprimir' },
                    className: 'btnToolbar',                    
                },
            ],
            // initComplete: function () {
            //    // this.api().columns().every( function () {[0, 1, 9]
            //     this.api().columns([1]).every( function () {
            //         var column = this;
            //         var select = $('<select class="form-control"><option value="">Todos</option></select>')
            //             .appendTo( $(column.footer()).empty() )
            //             .on( 'change', function () {
            //                 var val = $.fn.dataTable.util.escapeRegex(
            //                     $(this).val()
            //                 );
     
            //                 column
            //                     .search( val ? '^'+val+'$' : '', true, false )
            //                     .draw();
            //             } );
     
            //          column.data().unique().sort().each( function ( d, j ) {
            //         //column.cells('', column[0]).render('display').sort().unique().each( function ( d, j ){
            //             select.append( '<option value="'+d+'">'+d+'</option>' )
            //         } );
            //     } );

            // }
        });


$("a[name='mandarEmail']").click(function() {
        var id = $(this).attr('value');
        datos = []
        $.ajax({
            url: "/comprobantes/verifEmail/",
            type: "post",
            dataType: 'json',
            data: {
                'id': id
            },
            success: function(data) {
                if (data!='') {
                    window.location.href = '/comprobantes/mandarEmail/'+id;
                } else {
                    alertify.prompt('ENVIAR COMPROBANTE x EMAIL','Ingrese la dirección de Email:','',
                        function(evt, value) 
                        {
                            var email = value;
                            window.location.href = '/comprobantes/mandarEmail/'+id+'/?email='+email;
                        },
                        function(){} ).set('labels', {ok:'Aceptar', cancel:'Cancelar'}).set('type', 'email');
                }
            }
        });
        });

});
</script>
{% endblock main %}









