{% load static from staticfiles %}
{% load bootstrap3 %}
{% load humanize %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/comprobantes.css'%}?{% now "Ymd"%}" type="text/css" >  
{% endblock %}

<div style="width:520px" class="modal-dialog fm-modal">
        <div class="modal-content">
               <div class="row">
                 <div data-dismiss="modal" class="close-modal">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>        
                        </div>
                 <div class="modal-head">                        
                        ACTUALIZACION DE PRECIOS
                </div>
                <form role="form" class="form" method="POST" action="" id="selecc_prods">
                {% csrf_token %}  
                <div class="modal-body">                        
                    <div class="row">
                          <div class="col-xs-12"> 
                            <div class=" col-sm-5 ">{% bootstrap_field form.tipo_operacion %}</div> 
                            <div class=" col-sm-4 "><div id="campo">{% bootstrap_field form.tipo_precio %}{% bootstrap_field form.recalcular %}</div></div> 
                            <div class=" col-sm-3 "><div id="valor">{% bootstrap_field form.valor %}</div>
                                      <div id="porc">{% bootstrap_field form.porc %}</div>
                                      <div id="coef">{% bootstrap_field form.coeficiente %}</div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="modal-buttons">
                      <div class="row">
                          <div class="col-xs-6">
                            <button data-dismiss="modal" class="btn pull-left btn red-flamingo" type="button">
                                <i class="fa fa-times"></i>
                                Cancelar
                            </button>
                          </div>
                          <div class="col-xs-6">
                            <button id="AceptarSeleccion" type="button" data-dismiss="modal" class="btn pull-right blue-steel"><i class="fa fa-check"></i>Aceptar</button>
                          </div>
                      </div>
                 </div>
                </form>
            </div>  
        </div>
    
    <script src="{% static 'js/scripts/scripts_actualizar_precios.js' %}" type="text/javascript"></script>   

    

</div>