{% load static from staticfiles %}
{% load humanize %}
{% load comprobantes_filters %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{cpb|upper}}</title>
<link rel="stylesheet" href="{% static 'css/reportes_factura.css' %}" type="text/css" />

<style type="text/css">
 @page {
         margin: 0.5cm 0.5cm 1cm 0.5cm;
         padding: 0;
         @frame footer {
                        -pdf-frame-content: page-footer;
                        bottom: 0cm;
                        height: 1 cm;
                        margin-right: 0.5cm;
                        margin-left: 0.5cm;
                    }

         }
</style>
</head>

<body>
  {% if precios %}
  <table class="tabla" align="center" border="0" width="100%" cellspacing="0" >
      <tr>
      {% for c in precios %}
          {% if forloop.counter0|divisibleby:8 and not forloop.first %}
           </tr>
           <tr>
          {% endif %}
          <td align="center" class="qr_borde_punteado" width="100">
            <img src="data:image/png;base64,{{c.codbar}}" alt="qrcode" width="100%" height="{{ qr_size }}">
                {% if mostrar_detalle %}<br><span class="pie_sistema">{{c.detalle}}</span>{% endif %}
                {% if mostrar_precio %}<br>${{c.precio}}{% endif %}
          </td>
      {% endfor %}
      </tr>
  </table>
  {% else %}
  <table class="tabla" align="center" border="0" width="100%" cellspacing="0"><tr><td>No hay etiquetas QR para imprimir.</td></tr></table>
  {% endif %}

</body>
</html>
