{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load humanize %}
{% block extra_js %} 
    {{ block.super }}           
    <script src="{% static 'js/scripts/scripts_prod_stock.js'%}?{% now "Ymd"%}" type="text/javascript"></script>   
{% endblock %}
{% block main %}   

<div class="col-md-12">   
    <div class="portlet box toolbar_green">
        <div class="portlet-title">
            <div class="caption bold">   <i class="fa fa-cubes"></i> STOCK PRODUCTOS <small>consulta y actualización</small></div>
        </div> 
    </div> 
    
    <div class="row">
        <div class="col-sm-12">
         <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
            {% csrf_token %} 
            <div class="barra_busqueda col-sm-12">                                                                   
                <div class="col-sm-3">{% bootstrap_field form.producto  %}</div>                                                                                                      
                <div class="col-sm-2">{% bootstrap_field form.ubicacion  %}</div>
                <div class="col-sm-2">{% bootstrap_field form.categoria  %}</div>                                    
                <div class="col-sm-2">{% bootstrap_field form.tipo_prod  %}</div>
                <div class="col-sm-1">{% bootstrap_field form.lleva_stock  %}</div>                                           
                <div class="col-sm-1">{% bootstrap_field form.stock_pp  %}</div> 
                <div class="col-sm-1"><button style="float:left;margin-left:20px;" class="btn btn-sm green-meadow" type="submit">Buscar</button></div>
            </div>     
            </form>         
        </div>
    </div>
    <div class="btn-group " style="float:left;margin-right:20px;margin-bottom:10px;"> 
        <button id="btnNuevo" class="btn btn-sm green-meadow" style="float:left;margin-right:20px;">Nuevo Stock</button>    
        <button class="btn btn-sm green-meadow" value="" style="margin-right:20px;" id="btnActualizar">Actualizar Stock</button>    
    </div>               

    <table id="dataTables-stock" class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">         
        <thead>
            <tr>                                                               
                <th class="no-sort text-center"></th>
                <th class="no-sort text-center"><input type="checkbox" id="checkall" title="Seleccionar Todas"/></th>
                <th class="imprimir">Producto</th>                                                                
                <th class="imprimir">Categoría</th>
                <th class="imprimir">TipoProd.</th>
                <th class="imprimir text-center">Lleva Stock</th>
                <th class="imprimir text-right">Stock</th>
                <th class="imprimir text-left">Unidad</th>
                <th class="imprimir text-right">PuntoPedido</th>
                                                                                                              
            </tr>
        </thead>
        <tbody>                                                   
            {% for pp in productos %}
                <tr  {% if pp.producto.baja %}
                class='danger'
                {% elif pp.get_reposicion %}
                class='warning'                
             {% endif %}>                                                                                                                            
                    <td title="{{pp.pk|safe}}" class="no-sort text-center"></td>
                    <td class="text-center">
                        <input class="hidden" value="{{pp.pk|safe}}" id="chk_{{forloop.counter0}}_id" /><input type="checkbox" class='tildado stock' id="chk_{{forloop.counter0}}"/>
                    </td> 
                    <td title="{{pp.producto}}"><a href="{% url 'producto_ver' id=pp.producto.pk %}" class="modal-detail" data-modal-head="DETALLE PRODUCTO {{pp.producto.codigo}}" data-fm-callback="reload">
                        <strong>{{pp.producto|truncatechars:60}}</strong></a></td>
                    <td>{{ pp.producto.categoria|default_if_none:'' }}</td>                                
                    <td>{{ pp.producto.get_tipo_producto_display|default_if_none:'' }}</td>
                     <td class="text-center">{% if pp.producto.llevar_stock %}<i class="fa fa-check text-success"></i>{% endif %}</td>
                    <td class="importe_total">{% if pp.producto.llevar_stock %}{{pp.get_stock|default_if_none:0|floatformat:2}}{% else %}-{% endif %}</td>
                    <td class="text-left">[{{pp.producto.get_unidad_display|default_if_none:''}}]</td>
                    <td class="importe_total">{{pp.punto_pedido|default_if_none:0|floatformat:2}}</td>
                </tr>
            {% endfor %}                        
        </tbody>
        <tfoot>
            <tr>
                <th></th> 
                <th></th>
                <th></th>
                <th></th>
                <th></th>                                                                 
                <th></th>       
                <th class="importe_total"></th>   
                <th class="text-left"></th> 
                <th></th>                                   

            </tr>
        </tfoot>
    </table>
                                                                 
</div>
       
<script type="text/javascript">

$(document).ready(function() { 
 

$.fn.datepicker.dates['es'] = {
    days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
    daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
    today: "Hoy"
  };
  
   $('.datepicker').datepicker({
          format: "dd/mm/yyyy",
          language: "es",
          autoclose: true,
          todayHighlight: true
    }); 
moment.locale('es');
$.fn.dataTable.moment('DD/MM/YYYY'); 
var tabla = $('#dataTables-stock').DataTable({
            "language": {
                "decimal": ",",
                "thousands": ".",                
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay registros en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ".",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                      
            },                      
            "columnDefs": [ {
                  "targets"  : 'no-sort',
                  "orderable": false,
                }],          
           "paging":   false,
           "lengthMenu": [[50, -1], [50, "Todos"]],
           "autoWidth": false,           
           "order": [],
           "colReorder": true,
           "searching": true,
            fixedHeader: {
              header: false,
              footer: false
              },
            responsive: true,
            dom: 'Bfrtlip',
            buttons: [
                {
                    extend:    'colvis',
                    text:      '<i class="fa fa-list"></i>',
                    titleAttr: 'Ver/Ocultar',
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'copyHtml5',
                    text:      '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copiar',
                    exportOptions: { columns: ':visible' },
                    className: 'btnToolbar',     

                },
                {
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    filename: 'STOCK',                    
                    exportOptions: {  modifier: {
                                        page: 'current'
                                    }, 
                                      columns: '.imprimir',
                                      format: {
                                      body: function(data, row, column, node) {
                                        var floatVal = function (i) {
                                            if (typeof i === "number") {
                                                return i;
                                            } else if (typeof i === "string") {
                                                i = i.replace("$", "")
                                                i = i.replace(",", "")
                                                i = i.replace(".", "")
                                                var result = parseFloat(i)/100;
                                                // console.log(result);
                                                if (isNaN(result)) {
                                                    try {
                                                        var result = $jq(i).text();
                                                        result = parseFloat(result);
                                                        if (isNaN(result)) { result = 0 };
                                                        return result * 1;
                                                    } catch (error) {
                                                        return 0;
                                                    }
                                                } else {
                                                    return result * 1;
                                                }
                                            } else {
                                                alert("Unhandled type for totals [" + (typeof i) + "]");
                                                return 0
                                            }
                                        };
                                          data = $('<p>' + data + '</p>').text();
                                          return (node.className=='importe') ? floatVal(data)  : data;
                                      }
                                    }},
                    className: 'btnToolbar',     
                },
                        
                {
                    extend:    'pdfHtml5',
                    text:      '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',footer: true,
                    exportOptions: { columns: '.imprimir'},
                    orientation: 'landscape',
                    className: 'btnToolbar',                    
                },
                {
                    extend: 'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Imprimir',
                    exportOptions: { columns: '.imprimir' },
                    className: 'btnToolbar',                    
                },
            ],
            initComplete: function () {
               // this.api().columns().every( function () {[0, 1, 9]
                this.api().columns([3,4]).every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value="">Todos</option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
     
                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );
     
                     column.data().unique().sort().each( function ( d, j ) {
                    //column.cells('', column[0]).render('display').sort().unique().each( function ( d, j ){
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );

            },
            footerCallback: function ( row, data, start, end, display ) {
            var api = this.api(), data;
            var floatVal = function (i) {
                if (typeof i === "number") {
                    return i;
                } else if (typeof i === "string") {
                    i = i.replace("$", "")
                    i = i.replace(",", "")
                    i = i.replace(".", "")
                    var result = parseFloat(i)/100;
                    // console.log(result);
                    if (isNaN(result)) {
                        try {
                            var result = $jq(i).text();
                            result = parseFloat(result);
                            if (isNaN(result)) { result = 0 };
                            return result * 1;
                        } catch (error) {
                            return 0;
                        }
                    } else {
                        return result * 1;
                    }
                } else {
                    alert("Unhandled type for totals [" + (typeof i) + "]");
                    return 0
                }
            };
                        
            
            pageTotal = api.column(6, { page: 'current'} ).data().reduce( function (a, b) {return floatVal(a) + floatVal(b);}, 0 );            
            $( api.column(6).footer() ).html(pageTotal.toFixed(2));
            
            }
        });

});

</script>
{% endblock main %}





