{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load humanize %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/lib/server_datatable.js' %}?{% now "Ymd" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var prodReporteDataUrl = "{% url 'prod_reporte_data' %}";
    </script>
    <script src="{% static 'js/scripts/scripts_prod_reporte.js'%}?{% now "Ymd"%}" type="text/javascript"></script>
{% endblock %}
{% block main %}   
 <div id="cargando" class="cargando" >
                <span class="cargando-txt">CARGANDO...</span>
                <img class="cargando-img" src="{% static 'img/loading-bars.svg' %}">
        </div>
<div class="col-md-12 cerca">   
    <div class="portlet box toolbar_green">
        <div class="portlet-title">
            <div class="caption bold">   <i class="fa fa-bar-chart"></i> REPORTE PRODUCTOS  <small>PRECIOS Y STOCK</small></div>
        </div> 
    </div> 
    
    <div class="row">
        <div class="col-sm-12">
         <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
            {% csrf_token %} 
            <div class="barra_busqueda col-sm-12">                                                                   
                <div class="col-sm-2">{% bootstrap_field form.producto  %}</div>                             
                <div class="col-sm-2">{% bootstrap_field form.lista_precios  %}</div>
                <div class="col-sm-2">{% bootstrap_field form.ubicacion  %}</div>
                <div class="col-sm-2">{% bootstrap_field form.categoria  %}</div>                                    
                <div class="col-sm-1">{% bootstrap_field form.tipo_prod  %}</div>
                <div class="col-sm-1">{% bootstrap_field form.mostrar_en  %}</div>
                <div class="col-sm-1">{% bootstrap_field form.baja  %}</div>
                <div class="col-sm-1"><button id="btnBuscar" style="float:left;margin-left:10px;" class="btn btn-sm green-meadow" type="button">Buscar</button></div>
            </div>     
            </form>         
        </div>
    </div>

    <table id="dataTables-reporte" style="display:none;" class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">         
        <thead>
            <tr>                                                               
                <th class="no-sort text-center"></th>
                <th class="imprimir">Producto</th>                                                                
                <th class="imprimir">CodBar</th>
                <th class="imprimir">Categoría</th>
                <th class="imprimir">TipoProd.</th>
                <th class="imprimir text-right">Costo</th>
                <th class="imprimir text-right">Costo c/Imp.</th>
                <th class="imprimir text-right" title="Coeficiente de Ganancia">C.Gan.</th>
                <th class="imprimir text-right">Precio Venta</th>
                <th class="imprimir text-right">Stock</th>
                <th class="imprimir text-left">Unidad</th>                                                                                                              
            </tr>
        </thead>
        <tbody>                                                   
        </tbody>
        <tfoot>
            <tr>
                <th></th> 
                <th></th>
                <th></th>
                <th></th>
                <th></th>                                                                 
                <th class="importe"></th>   
                <th class="importe"></th>
                <th class="importe"></th>
                <th class="importe_total"></th>
                <th class="importe_total"></th>
                <th></th>                                   

            </tr>
        </tfoot>
    </table>

</div>

{% endblock main %}
