{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load humanize %}
{% block extra_js %}   
    {{ block.super }}     
    <script src="{% static 'js/scripts/scripts_comprobantes.js'%}?{% now "Ymd"%}" type="text/javascript"></script>
{% endblock %}

{% block main %} 
          <div id="cargando" class="cargando" >
                <span class="cargando-txt">CARGANDO...</span>
                <img class="cargando-img" src="{% static 'img/loading-bars.svg' %}">
        </div>

          <div class="col-md-12">   
            <div class="portlet box toolbar_blue">
                <div class="portlet-title">
                    <div class="caption bold">
                                <i class="icon-calendar"></i>CONSULTA COMPROBANTES
                    </div>

                </div> 
            </div>                 
                    <div class="row">
                        <div class="col-md-12">
                         <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
                            {% csrf_token %} 
                            <div class="barra_busqueda col-sm-12">                                                                
                                    <div class="col-sm-2">{% bootstrap_field form.entidad  %}</div>                                  
                                    <div class="col-sm-2">{% bootstrap_field form.tipo_cpb  %}</div>
                                    <div class="col-sm-1">{% bootstrap_field form.estado  %}</div>                                 
                                    <div class="col-sm-1">{% bootstrap_field form.cae  %}</div>                                                                   
                                    <div class="col-sm-1">{% bootstrap_field form.pto_vta  %}</div>
                                    <div class="col-sm-1">{% bootstrap_field form.fdesde  %}</div>                                
                                    <div class="col-sm-1">{% bootstrap_field form.fhasta  %}</div>                                    
                                    <div class="col-sm-1"><button class="btn btn-sm blue-hoki text-center" type="submit">Buscar</button></div>
                            </div>     
                            </form>         
                        </div>
                    </div>
                    <div class="btn-group " style="float:left;margin-right:10px;margin-bottom:10px;">                  
                    <button class="btn btn-sm blue-hoki" value="" id="btnImprimirDetalles">Imprimir Detalles</button>
                    </div>   
                    <table id="dataTables-cpb_venta" class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">         
                        <thead>
                            <tr>                               
                                <th class="no-sort text-center" data-priority="2"></th>
                                <th class="no-sort text-center" data-priority="3"></th>
                                <th style="width:5%;" class="text-center">Fecha</th> 
                                <th style="width:5%;" class="text-center">Estado</th> 
                                <th style="width:5%;" class="text-center">Vencimiento</th>                                
                                <th style="width:5%;">Comprobante</th>                                
                                <th class="text-center">Tipo</th>                                
                                <th class="text-center">Cliente/Proveedor</th>
                                <th style="width:5%;" class="importe">Total</th>
                                <th style="width:5%;" class="text-center">CAE</th>
                                <th class="">Observaciones</th>                                                          
                                <th class="">Vendedor</th>
                            </tr>
                        </thead>
                        <tbody>                        
                            {% for cpb in comprobantes %}
                                <tr>                                
                                    <td></td>
                                    <td>
                                        <input class="hidden" value="{{cpb.id|safe}}" id="chk_{{forloop.counter0}}_id_cpb" /><input type="checkbox" class='tildado' id="chk_{{forloop.counter0}}" />
                                    </td>
                                    <td class="text-center">{{cpb.fecha_cpb|date:'d/m/Y'}}</td>                              
                                    <td class="listado_estado {{cpb.estado.color}}">{{cpb.estado.nombre}}</td>
                                    <td class="text-center">{{cpb.fecha_vto|date:'d/m/Y'}}</td>                                                                 
                                    <td>{% include "general/varios/cpb_ver.html" %}{{ cpb}}</td> 
                                    <td class="text-center" title="{{ cpb.cpb_tipo.nombre|default_if_none:'' }}">{{ cpb.cpb_tipo.codigo|default_if_none:'' }}</td>
                                    <td>{% include "entidades/entidad_ver.html" %}</td>
                                    <td class="importe">${{cpb.get_importe_total|default_if_none:0|floatformat:2}}</td> 
                                    <td {% if cpb.cae %}title="Vencimiento CAE: {{cpb.cae_vto|date:'d/m/Y'}}" class="listado_estado success"{% endif %}>{{ cpb.cae|default_if_none:'' }}</td>
                                    <td title="{{ cpb.observacion}} {{ cpb.seguimiento|default_if_none:''}}">{{ cpb.observacion|default_if_none:''|truncatechars:40 }}{% if cpb.seguimiento %} - {{ cpb.seguimiento|default_if_none:''|truncatechars:40 }} {% endif %}</td>                                    
                                    <td title="{{ cpb.vendedor.apellido_y_nombre}}">{{ cpb.vendedor.apellido_y_nombre|default_if_none:''|truncatechars:40 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th> 
                                <th></th> 
                                <th></th> 
                                <th></th>                                
                                <th></th>
                                <th></th>                                
                                <th></th>
                                <th></th> 
                                <th class="importe"></th> 
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>                                                 
                
            </div>
           </div>
        </div>


{% endblock main %}





