{% extends "index.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block extra_css %}
 	<link rel="stylesheet" href="{% static 'css/abms.css'%}?{% now "Ymd"%}" type="text/css" >  
{% endblock %}
{% block extra_js %}        
 <script src="{% static 'js/scripts/scripts_usuarios.js'%}?{% now "Ymd"%}" type="text/javascript"></script>
{% endblock %}




{% block main %}

<div class="col-md-12 col-xs-12">
      	<div class="row">     
	        <div class="col-xs-12" >  
	          <div class="portlet box toolbar_blue panel_centrado">
                <div class="portlet-title">
                    <div class="caption bold">
                                <i class="icon-settings"></i>CONFIGURACIÓN/PERMISOS USUARIO
                    </div>                    
                </div>             
              	<div class="portlet-body">
		           <div class="col-sm-12">	
		            
				    <form role="form" class="form abm form-horizontal " method="POST" action="" id="form-alta" enctype="multipart/form-data">
				     {% csrf_token %}         				        
				        {{ form.errors }}
				         <div class="row">
					         <div class="col-xs-12">
						        <div class="row ">							       	
								    <div class="col-xs-12">
								       	  <div class="row">										       	
										       		<fieldset>
										       		<legend>DATOS GENERALES</legend>
												       <div class="col-sm-12">
										                <div class="row cerca">
													       	<div class="col-sm-3">{% bootstrap_field form.nombre %}</div>
															<div class="col-sm-3">{% bootstrap_field form.usuario %}</div>																	
															<div class="col-sm-3 pull-right">{% bootstrap_field form.grupo %}</div>												
													     </div>
										               </div>                                       						         
										       		</fieldset>										       	
									      </div>									   
					                      								       
								         <div class="row">
							          		<fieldset>
									       		<legend>PERMISOS DE USUARIO</legend>								

									                <div class="row botonera">										                
								                	<label for="checkall"><input type="checkbox" id="checkall" title="Seleccionar Todas"/><strong> SELECCIONAR TODOS/NINGUNO</strong></label>

									                </div>
									                <div class="row cerca">
							                                {{form.permisos}}
						                            </div>                                                  
							                    </div>
							                </fieldset>		

									     
						              	</div>  
								</div>

						{% if form.non_field_errors  %}
					     	<script type="text/javascript">
					     	alertify.errorAlert("{% for err in form.non_field_errors %}{{ err }}{% endfor %}");
					     	</script>
					    {% endif %}       
				        {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
				     	<br>		                 
	                    
	                    <div class="row">
		                    <div class="col-xs-12">                                                        
		                     <a href="{% url 'principal' %}" class="btn pull-left btn red-flamingo"><i class="fa fa-times"></i> Cancelar </a>
		                     <button id="Guardar" type="submit" class="btn pull-right blue-steel"><i class="fa fa-check"></i> Guardar </button>
		                    </div>
	                   </div>
				    </form>

				  </div>
	          </div>
	         </div>
	     	</div>                        
	    </div>
</div>	

{% endblock %}
