{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n l10n %}
{% load humanize %}
{% load bootstrap3 %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/comprobantes.css'%}?{% now "Ymd"%}" type="text/css" >  
{% endblock %}


{% block main %} 

        <div id="cargando" class="cargando" >
                <span class="cargando-txt">CARGANDO...</span>
                <img class="cargando-img" src="{% static 'img/loading-bars.svg' %}">
        </div>
                          

          <div class="col-md-12">   
            <div class="portlet box toolbar_red">
                <div class="portlet-title">
                    <div class="caption bold">
                                <i class="fa fa-money"></i>MOVIMIENTOS INTERNOS  / TRASPASOS <small>carga e impresión</small>
                    </div>
                    <div class="actions">
                            <button tittle="Búsqueda Avanzada" data-toggle="collapse" aria-expanded="true"  class="btn btn-circle active" data-target="#barra_busqueda" aria-controls="barra_busqueda"><i class="glyphicon glyphicon-search"></i></button>                          
                    </div>                    
                </div> 
            </div>                    
                    <div class="row collapse" id="barra_busqueda">
                        <div class="col-md-12">
                            <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
                                {% csrf_token %} 
                                <div class="barra_busqueda  col-xs-12">
                                    <div class="col-sm-1 col-xs-3">{% bootstrap_field form.fdesde  %}</div>                                
                                    <div class="col-sm-1 col-xs-3">{% bootstrap_field form.fhasta  %}</div>
                                    <div class="col-sm-1 col-xs-4"><button class="btn btn-sm color_barra" type="submit">Buscar</button></div>
                                </div>     
                            </form>                    
                        </div>
                    </div>

                    <div class="btn-group" style="float:left;margin-right:20px;margin-bottom:10px;"> 
                    <a class="btn btn-sm red-sunglo" style="float:left;margin-right:20px;" href="{% url 'movimientos_nuevo' %}">Nuevo Movimiento</a>
                    </div>
                    <table id="dataTables-cpb_movimientos" class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">         
                        <thead>
                            <tr>
                                <th class="no-sort text-center"></th>
                                <th class="no-sort text-center"></th>                                                                
                                <th class="imprimir text-center">Fecha CPB</th>
                                <th class="imprimir">Nº CPB</th>
                                <th class="imprimir text-center">Forma Pago/Cobro</th>
                                <th class="imprimir text-center">Cta.Egreso/Desde</th>
                                <th class="imprimir text-center">Cta.Ingreso/Hacia</th>                                
                                <th class="imprimir text-right">Importe</th>
                                <th class="imprimir text-right">Detalle</th>
                                <th class="imprimir text-right">Fecha MDP</th>
                                <th class="imprimir text-right">Banco</th>
                                <th class="imprimir text-right">Cheque</th>                                                                
                                <th class="imprimir">Observaciones</th>                                
                                <th class="imprimir">Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cpb in movimientos %}
                            <tr >
                                <td></td>  
                                <td><div class="btn-group">
                                      <button title="{{ cpb.pk|safe}}" type="button" class="btn btn-xs color_barra" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-settings"> </i> <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-default">                                        
                                        <li><a href="{% url 'movimientos_editar' id=cpb.cpb_comprobante.pk %}"  title="Editar" data-fm-callback="reload" ><i class="icon-note"></i> Editar</a></li>
                                        {% if not cpb.cae %}
                                        <li><a href="#" 
                                                    onClick="alerta= alertify.dialog('confirm').set({'labels':{ok:'Aceptar', cancel:'Cancelar'},'message': '¿DESEA ELIMINAR EL REGISTRO SELECCIONADO?',transition:'fade','onok': function(){ window.location.href = '{% url 'movimientos_eliminar' id=cpb.cpb_comprobante.pk %}'; },'oncancel': function(){ return true;} }); alerta.setting('modal', true); alerta.setHeader('ELIMINAR COMPROBANTE'); alerta.show(); return true;"><i class="icon-trash"></i>Eliminar</a>
                                                </li>
                                        {% endif %}
                                        <li role="separator" class="divider"></li>
                                            <li><a href="{% url 'cpb_editar_seguimiento' id=cpb.cpb_comprobante.pk %}"  class="fm-update" data-fm-head="EDITAR SEGUIMIENTO"  title="Editar Seguimiento" data-fm-target="#object-{{ item.pk }}" data-fm-callback="reload" ><i class="icon-speech"></i>Seguimiento</a></li>
                                      </ul>
                                    </div>
                                    {% if cpb.seguimiento %}  <i title="{{cpb.seguimiento|default_if_none:''}}" class="icon-speech icono_seguimiento"></i> {% endif %}                               
                                </td>                                                                
                                <td class="text-center">{{cpb.cpb_comprobante.fecha_cpb|date:'d/m/Y'}}</td>                                
                                <td>{{ cpb.cpb_comprobante|default_if_none:''}}</td>                                                                
                                <td>{{ cpb.tipo_forma_pago|default_if_none:'' }}</td>                                                                
                                <td>{{ cpb.cta_egreso|default_if_none:'' }}</td>                                                                
                                <td>{{ cpb.cta_ingreso|default_if_none:'' }}</td>                                                                
                                <td class="importe_total">${{cpb.importe|default_if_none:0|floatformat:2}}</td>                                                                
                                <td  title="{{ cpb.detalle}}">{{ cpb.detalle|default_if_none:''|truncatechars:60 }}</td>
                                <td class="text-center">{{cpb.mdcp_fecha|date:'d/m/Y'}}</td>                                
                                <td>{{ cpb.mdcp_banco|default_if_none:''}}</td>
                                <td>{{ cpb.mdcp_cheque|default_if_none:''}}</td>
                                <td>{{ cpb.observacion|default_if_none:''|truncatechars:60 }}</td>
                                <td>{{ cpb.usuario|default_if_none:''|truncatechars:60 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th> 
                                <th></th>                                 
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="importe_total"></th>
                                <th></th>                                
                                <th></th>                                
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>                                
                            </tr>
                        </tfoot>
                    </table>                                                 
                
            </div>
         

<div id="popup" class="modal fade " role="dialog"  data-backdrop="static"  data-keyboard="false"></div>    
<div id="popup_impresion" class="modal fade " role="dialog"  data-backdrop="static"  data-keyboard="false"></div>    
 
{% include "fm/movimientos/modal.html" %}
<script type="text/javascript">
$(document).ready(function() { 

$.fn.datepicker.dates['es'] = {
    days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
    daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
    today: "Hoy"
  };
  
   $('.datepicker').datepicker({
          format: "dd/mm/yyyy",
          language: "es",
          autoclose: true,
          todayHighlight: true
    }); 
    
moment.locale('es');
$.fn.dataTable.moment('DD/MM/YYYY'); 
var tabla = $('#dataTables-cpb_movimientos').DataTable({
            "language": {
                "decimal": ",",
                "thousands": ".",                
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay registros en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Ãšltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "decimal": ",",
                "thousands": "."
                      
            },                      
           "columnDefs": [ {
                  "targets"  : 'no-sort',
                  "orderable": false,
                }],          
           "paging":   true,
           "lengthMenu": [[20, 50, -1], [20, 50, "Todos"]],
           "autoWidth": false,
           "order": [],
           "colReorder": true,
           "searching": true,
            fixedHeader: {
              header: true,
              footer: false
              },
            responsive: true,
            dom: 'Bfrtlip',
            buttons: [
                {
                    extend:    'colvis',
                    text:      '<i class="fa fa-list"></i>',
                    titleAttr: 'Ver/Ocultar',
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'copyHtml5',
                    text:      '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copiar',
                    exportOptions: { columns: ':visible' },
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    filename: 'MOVIMIENTOS_CUENTAS',                    
                    exportOptions: {  modifier: {
                                        page: 'current'
                                    }, 
                                      columns: '.imprimir',
                                      format: {
                                      body: function(data, row, column, node) {
                                        var floatVal = function (i) {
                                            if (typeof i === "number") {
                                                return i;
                                            } else if (typeof i === "string") {
                                                i = i.replace("$", "")
                                                i = i.replace(",", "")
                                                i = i.replace(".", "")
                                                var result = parseFloat(i)/100;
                                                // console.log(result);
                                                if (isNaN(result)) {
                                                    try {
                                                        var result = $jq(i).text();
                                                        result = parseFloat(result);
                                                        if (isNaN(result)) { result = 0 };
                                                        return result * 1;
                                                    } catch (error) {
                                                        return 0;
                                                    }
                                                } else {
                                                    return result * 1;
                                                }
                                            } else {
                                                alert("Unhandled type for totals [" + (typeof i) + "]");
                                                return 0
                                            }
                                        };
                                          data = $('<p>' + data + '</p>').text();
                                          return (node.className=='importe') ? floatVal(data)  : data;
                                      }
                                    }},
                    className: 'btnToolbar',     
                },
               
                {
                    extend:    'pdfHtml5',
                    text:      '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',footer: true,
                    exportOptions: { columns: '.imprimir'},
                    orientation: 'landscape',
                    className: 'btnToolbar',                    
                },
                {
                    extend: 'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Imprimir',
                    exportOptions: { columns: '.imprimir' },
                    className: 'btnToolbar',                    
                },
            ],
              PreDrawCallback:function(){
            $("#cargando").show();
            },
            initComplete: function () {
               // this.api().columns().every( function () {[0, 1, 9]
                this.api().columns([4,5,6,10,13]).every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value="">Todos</option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
     
                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );
     
                     column.data().unique().sort().each( function ( d, j ) {
                    //column.cells('', column[0]).render('display').sort().unique().each( function ( d, j ){
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
                $("#dataTables-cpb_movimientos").show();
                  this.fnAdjustColumnSizing();
                $("#cargando").hide();

            },
            footerCallback: function ( row, data, start, end, display ) {
            var api = this.api(), data;
            var floatVal = function (i) {
                if (typeof i === "number") {
                    return i;
                } else if (typeof i === "string") {
                    i = i.replace("$", "")
                    i = i.replace(",", "")
                    i = i.replace(".", "")
                    var result = parseFloat(i)/100;
                    // console.log(result);
                    if (isNaN(result)) {
                        try {
                            var result = $jq(i).text();
                            result = parseFloat(result);
                            if (isNaN(result)) { result = 0 };
                            return result * 1;
                        } catch (error) {
                            return 0;
                        }
                    } else {
                        return result * 1;
                    }
                } else {
                    alert("Unhandled type for totals [" + (typeof i) + "]");
                    return 0
                }
            };
            pageTotal = api.column(7, { page: 'current'} ).data().reduce( function (a, b) {return floatVal(a) + floatVal(b);}, 0 );            
            $( api.column(7).footer() ).html('$'+pageTotal.toFixed(2));
          
        }
        });




});

function abrir_modal(url)
{        $('#popup').load(url, function()
        {        $(this).modal('show');
        });
        return false;}

function cerrar_modal()
{        $('#popup').modal('hide');
        return false;}

</script>
{% endblock main %}





