{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}

<div id="form-container">

		             <form role="form" class="form cpb" method="POST" action="" id="form-alta">
					     {% csrf_token %}   		           
					     {{ form.non_field_errors }}					     
					     {{ form.non_form_errors  }}
				       
						<div class="row">
							<div class="col-sm-12">								  
							       <label class="control-label col-sm-2" for="id_fecha_cpb">Fecha Movimiento:</label>
							      <div class="col-sm-2">{% bootstrap_field form.fecha_cpb show_label=False %}</div>
							        <label class="control-label col-sm-2">Número:</label>	
									<div class="col-xs-2">{% bootstrap_field form.pto_vta show_label=False %}</div>									
									<div class="col-xs-1">{% bootstrap_field form.letra show_label=False %}</div>
									<div class="col-xs-2">{% bootstrap_field form.numero show_label=False %}</div>								   
							</div>								
						</div>	
														
									   
						<br>
						<fieldset>							
						  <legend>Movimiento a Procesar</legend>
	                      <div class="col-sm-12">
	                      	<div class="row">
	                      		<div class="col-sm-3">
	                      			{% bootstrap_field cpb_fp.tipo_forma_pago %}
	                      		</div>
	                      		<div class="col-sm-3">
	                      			{% bootstrap_field cpb_fp.cta_egreso %}
	                      		</div>
	                      		<div class="col-sm-3">
	                      			{% bootstrap_field cpb_fp.cta_ingreso %}
	                      		</div>
	                      		<div class="col-sm-3">
	                      			{% bootstrap_field cpb_fp.detalle %}
	                      		</div>
	                      	</div>								                      	
	                      	<div class="row">
	                      		<div class="col-sm-2">
	                      			{% bootstrap_field cpb_fp.mdcp_fecha %}
	                      		</div>
	                      		<div class="col-sm-4">
	                      			{% bootstrap_field cpb_fp.mdcp_banco %}
	                      		</div>
	                      		<div class="col-sm-3">
	                      			{% bootstrap_field cpb_fp.mdcp_cheque %}
	                      		</div>
	                      		<div class="col-sm-3">
	                      			{% bootstrap_field cpb_fp.importe %}
	                      		</div>
	                      	</div>								                      									                  								
		                    {% for hidden in cpb_fp.hidden_fields %} {{ hidden }} {% endfor %}
		                  </div>
						                     							                     
						</fieldset>	                 						         
					    <br>
					    <div class="row">
						    <div class="col-sm-12"> 							     
							        <div class="col-sm-10"> 
							             {% bootstrap_field form.observacion show_label=True%}					         					         								
							        </div>
							        <div class="col-sm-2">		
							         	{% bootstrap_field form.importe_total%}
							        </div>
						    </div>
		     		    </div>	     		     
					    {% if form.non_field_errors  %}
					     	<script type="text/javascript">
					     	alertify.errorAlert("{% for err in form.non_field_errors %}{{ err }}{% endfor %}");
					     	</script>
					    {% endif %}       
				        {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
				     	 
				    </form>
</div>	      

<script src="{% static 'js/scripts/scripts_movimientos_ajax.js' %}" type="text/javascript"></script>

</div>


