{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load humanize %}


{% block main %} 
    

          <div class="col-md-12">   
            <div class="portlet box toolbar_blue">
                <div class="portlet-title">
                    <div class="caption bold">
                                <i class="icon-user"></i>CUENTA CORRIENTE CLIENTES 

                    </div>

                </div> 
            </div> 
                
                    <div class="row">
                        <div class="col-md-12">
                         <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
                            {% csrf_token %} 
                            <div class="barra_busqueda col-sm-12">                                                                                       
                                <div class="col-sm-5">{% bootstrap_field form.entidad  %}</div>                                                                                                      
                                <div class="col-sm-2">{% bootstrap_field form.fdesde  %}</div>                                
                                <div class="col-sm-2">{% bootstrap_field form.fhasta  %}</div>                                    
                                <div class="col-sm-2">{% bootstrap_field form.estado  %}</div>                                                                                           
                                <div class="col-sm-1"><button class="btn btn-sm blue-hoki" type="submit">Buscar</button></div>
                            </div>     
                            </form>         
                        </div>
                    </div>
                    
              
                                
                  
                    
                    <table id="dataTables-cpb_venta" class="table table-striped compact table-hover table-no-bordered tabla_nueva ">         
                        <thead>
                            <tr>                               
                                <th class="text-center">Fecha</th>                                
                                <th style="width:10%; " >Comprobante</th>                                
                                <th class="">Tipo</th>
                                <th class="">Detalle</th>
                                <th class="text-right">Debe</th>                                                               
                                <th class="text-right">Haber</th>                                                               
                                <th class="text-right">Saldo</th>                                                          
                            </tr>
                        </thead>
                        <tbody>                        
                            {% if saldo_anterior != 0 %}
                            <tr >                                
                                <td class="text-center"></td>                              
                                <td>{{ cpb}}</td> 
                                <td class=""><strong>SALDO ANTERIOR</strong></td>                             
                                <td></td>
                                <td class="importe">${{saldo_anterior_debe|default_if_none:0|floatformat:2}}</td>                                 
                                <td class="importe">${{saldo_anterior_haber|default_if_none:0|floatformat:2}}</td>                                
                                <td class="importe">${{saldo_anterior|default_if_none:0|floatformat:2}}</td>
                            </tr>
                            {% endif %}
                            {% for cpb in cpbs %}
                                <tr {% if cpb.estado_id == 3 %}class="{{cpb.estado_color}}"{%endif%}>                                
                                    <td class="text-center">{{cpb.fecha_cpb|date:'d/m/Y'}}</td>                              
                                    <td nowrap title="{{cpb.cpb_tipo|default_if_none:''}}" class="">{% include "general/varios/cpb_ver.html" %}{{ cpb.get_cpb}}</td> 
                                    <td class="">{{ cpb.cpb_tipo|default_if_none:'' }}</td>                             
                                    <td  title="{{ cpb.observacion}}">{{ cpb.observacion|default_if_none:''|truncatechars:40 }}</td>
                                    {% if cpb.signo_ctacte > 0 %}
                                        <td class="importe">${{cpb.importe_total|default_if_none:0|floatformat:2}}</td>                                 
                                        <td class="importe">$0.00</td>
                                    {% else %}
                                        <td class="importe">$0.00</td>
                                        <td class="importe">${{cpb.importe_total|default_if_none:0|floatformat:2}}</td>                                 
                                    {% endif %}
                                    <td class="importe {% if cpb.saldo > 0 %} text-danger {% endif %}">${{cpb.saldo|default_if_none:0|floatformat:2}}</td>
                                </tr>
                            {% endfor %}
                        
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th> 
                                <th></th>                                 
                                <th></th>
                                <th></th>
                                <th class="importe"></th>                                 
                                <th class="importe"></th>                                 
                                <th class="importe"></th>  
                            </tr>
                        </tfoot>
                    </table>                                                 
                
            </div>



<script type="text/javascript">

$(document).ready(function() { 
 $("#id_entidad").chosen({
          no_results_text: "Cliente inexistente...",
          placeholder_text_single:"Seleccione un Cliente",
          allow_single_deselect: true,
      });       

$.fn.datepicker.dates['es'] = {
    days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
    daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
    today: "Hoy"
  };
  
   $('.datepicker').datepicker({
          format: "dd/mm/yyyy",
          language: "es",
          autoclose: true,
          todayHighlight: true
    }); 
moment.locale('es');
$.fn.dataTable.moment('DD/MM/YYYY'); 
var tabla = $('#dataTables-cpb_venta').DataTable({
            "language": {
                "decimal": ",",
                "thousands": ".",                
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay registros en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Ãšltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                      
            },                      
            "columnDefs": [ {
                  "targets"  : 'no-sort',
                  "orderable": false,
                }],          
           "paging":   false,
           "lengthMenu": [[20, 50, -1], [20, 50, "Todos"]],
           "autoWidth": false,
           "order": [],
           "colReorder": true,
           "searching": true,
            fixedHeader: {
              header: true,
              footer: false
              },
            responsive: true,
            dom: 'Bfrtlip',
            buttons: [
                {
                    extend:    'colvis',
                    text:      '<i class="fa fa-list"></i>',
                    titleAttr: 'Ver/Ocultar',
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'copyHtml5',
                    text:      '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copiar',
                    exportOptions: { columns: ':visible' },
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    filename: 'CTA_CTE_CLIENTES',                    
                    exportOptions: {  modifier: {
                                        page: 'current'
                                    }, 
                                      columns: ':visible',
                                      format: {
                                      body: function(data, row, column, node) {
                                        var floatVal = function (i) {
                                            if (typeof i === "number") {
                                                return i;
                                            } else if (typeof i === "string") {
                                                i = i.replace("$", "")
                                                i = i.replace(",", "")
                                                i = i.replace(".", "")
                                                var result = parseFloat(i)/100;
                                                // console.log(result);
                                                if (isNaN(result)) {
                                                    try {
                                                        var result = $jq(i).text();
                                                        result = parseFloat(result);
                                                        if (isNaN(result)) { result = 0 };
                                                        return result * 1;
                                                    } catch (error) {
                                                        return 0;
                                                    }
                                                } else {
                                                    return result * 1;
                                                }
                                            } else {
                                                alert("Unhandled type for totals [" + (typeof i) + "]");
                                                return 0
                                            }
                                        };
                                          data = $('<p>' + data + '</p>').text();
                                          return (node.className=='importe') ? floatVal(data)  : data;
                                      }
                                    }},
                    className: 'btnToolbar',     
                },
               
                {
                    extend:    'pdfHtml5',
                    text:      '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',footer: true,
                    exportOptions: { columns: ':visible'},
                    orientation: 'landscape',
                    className: 'btnToolbar',                    
                },
                {
                    extend: 'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Imprimir',
                    exportOptions: { columns: ':visible' },
                    className: 'btnToolbar',                    
                },
            ],
            "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
            var floatVal = function (i) {
                if (typeof i === "number") {
                    return i;
                } else if (typeof i === "string") {
                    i = i.replace("$", "")
                    i = i.replace(",", "")
                    i = i.replace(".", "")
                    var result = parseFloat(i)/100;
                    // console.log(result);
                    if (isNaN(result)) {
                        try {
                            var result = $jq(i).text();
                            result = parseFloat(result);
                            if (isNaN(result)) { result = 0 };
                            return result * 1;
                        } catch (error) {
                            return 0;
                        }
                    } else {
                        return result * 1;
                    }
                } else {
                    alert("Unhandled type for totals [" + (typeof i) + "]");
                    return 0
                }
            };
                        
            
            pageTotal1 = api.column(4, { page: 'current'} ).data().reduce( function (a, b) {return floatVal(a) + floatVal(b);}, 0 );            
            $( api.column(4).footer() ).html('$'+pageTotal1.toFixed(2));
            pageTotal2 = api.column(5, { page: 'current'} ).data().reduce( function (a, b) {return floatVal(a) + floatVal(b);}, 0 );            
            $( api.column(5).footer() ).html('$'+pageTotal2.toFixed(2));            
            pageTotal = pageTotal1 - pageTotal2;
            $( api.column(6).footer() ).html('$'+pageTotal.toFixed(2));       
            },
                                  
        });

});

</script>
{% endblock main %}





