<ul class="ds-btn">        
        {% if 'cpb_ventas' in permisos_grupo %}<li>
          <a class="btn btn-sm blue-steel" href="{% url 'cpb_venta_nuevo' %}">
          <i class="icon-note pull-left"></i><span>NUEVA VENTA<br><small>CPBs de Venta</small></span></a> 
        </li>{% endif %}
        {% if 'cpb_cobranzas' in permisos_grupo %}<li>
          <a class="btn btn-sm green-jungle" href="{% url 'cpb_rec_cobranza_nuevo' %}">
          <i class="icon-wallet pull-left"></i><span>NUEVO COBRO<br><small>Recibo de Cobro</small></span></a> 
        </li>{% endif %}
        {% if 'cpb_compras' in permisos_grupo %}<li>
          <a class="btn btn-sm blue-steel" href="{% url 'cpb_compra_nuevo' %}">
          <i class="icon-note pull-left"></i><span>NUEVA COMPRA<br><small>CPBs de Compra</small></span></a> 
        </li>{% endif %}
        {% if 'cpb_pagos' in permisos_grupo %}<li>
          <a class="btn btn-sm green-jungle" href="{% url 'cpb_pago_nuevo' %}">
          <i class="icon-wallet pull-left"></i><span>NUEVO PAGO<br><small>Orden de Pago</small></span></a> 
        </li>{% endif %}
        {% if 'cpb_presupuestos' in permisos_grupo %}<li>
          <a class="btn btn-sm purple-plum" href="{% url 'cpb_presup_nuevo' %}">
          <i class="icon-briefcase pull-left"></i><span>PRESUPESTOS<br><small>Nuevo Presupuesto</small></span></a> 
        </li>{% endif %}
        {% if 'rep_cta_cte_clientes' in permisos_grupo %}<li>
          <a class="btn btn-sm blue-hoki" href="{% url 'saldos_clientes' %}">
          <i class="icon-users pull-left"></i><span>CLIENTES<br><small>Saldos y Cta. Ctes.</small></span></a> 
        </li>{% endif %}
        {% if 'rep_cta_cte_prov' in permisos_grupo %}<li>
          <a class="btn btn-sm blue-hoki" href="{% url 'saldos_proveedores' %}">
          <i class="icon-users pull-left"></i><span>PROVEEDORES<br><small>Saldos y Cta. Ctes.</small></span></a> 
        </li>{% endif %}
        {% if 'cpb_movimientos' in permisos_grupo %}<li>
          <a class="btn btn-sm red-sunglo" href="{% url 'movimientos_listado' %}">
          <i class="icon-shuffle pull-left"></i><span>MOVIMIENTOS<br><small>Movim. entre Ctas.</small></span></a> 
        </li>{% endif %}
        {% if 'prod_productos_abm' in permisos_grupo %}<li>
          <a class="btn btn-sm green-meadow" href="{% url 'prod_precios_listado' %}">
          <i class="icon-tag pull-left"></i><span>PRECIOS<br><small>Listas de Precios</small></span></a> 
        </li>{% endif %}    
        {% if 'prod_productos_abm' in permisos_grupo %}<li>
          <a class="btn btn-sm green-meadow" href="{% url 'prod_stock_listado' %}">
          <i class="fa fa-cubes pull-left"></i><span>STOCK<br><small>Movimientos Stock</small></span></a> 
        </li>{% endif %}      
        
        
</ul>           