{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load humanize %}
{% block main %} 

          <div class="col-md-12">               
              <div class="row" id="barra_busqueda">
                  <div class="col-md-12">
                      <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
                      {% csrf_token %} 
                      <div class="barra_busqueda  col-xs-12">                          
                          <div class="col-sm-1 col-xs-1">{% bootstrap_field form.idcpb  %}</div>                          
                          <div class="col-sm-1 col-xs-4"><button class="btn btn-sm color_barra" type="submit">Buscar</button></div>
                      </div>     
                      </form>                    
                  </div>
              </div>
             <div class="row" id="barra_busqueda"> 
                <div class="portlet box toolbar_blue">
                    <div class="portlet-title">
                        <div class="caption bold"><i class="icon-user"></i>RESPUESTA AFIP para {{cpb.get_cpb_tipo}} - {{cpb.entidad}}</div>
                    </div> 
                    <div class="portlet-body">
                      <div class="col-md-12">                        
                       {% if facturacion.cae %}
                        <div class="row">  CAE Nº: <strong>{{facturacion.cae}}</strong></div>
                        <div class="row">  Nº CPB: <strong>{{facturacion.cpb_nro}}</strong></div>
                        <div class="row">  Nº PV:<strong> {{facturacion.punto_vta}}</strong></div>
                        <div class="row">  Tipo CPB: <strong> {{facturacion.tipo_cbte}}</strong></div>
                        <div class="row">  Importe Total: <strong>$ {{facturacion.imp_total}}</strong></div>
                        <div class="row">  Importe Neto:<strong> $ {{facturacion.imp_neto}}</strong></div>
                        <div class="row">  Importe IVA: <strong>$ {{facturacion.imp_iva}}</strong></div>
                        <div class="row">  Ultimo Nª CPB:<strong> {{facturacion.ult_nro}}</strong></div>
                        <div class="row">  Estado: <strong>{{facturacion.resultado}}</strong> </div>
                        <div class="row">  Fecha CPB: <strong>{{facturacion.fecha_cbte|date:'d/m/Y'}}</strong></div>
                        <div class="row">  Fecha Venc. CAE: <strong>{{facturacion.fecha_vencimiento|date:'d/m/Y'}}</strong></div>
                        <div class="row">  Detalle: <strong>{{facturacion.detalle}}</strong></div>
                      {% else %}
                          {{facturacion.errores}}
                      {% endif %}
                      </div>

                     </div>     
                </div> 
               </div>

                

        </div>

{% endblock main %}




