{% extends "base.html" %}
{% load static from staticfiles %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/login.css'%}?{% now "Ymd"%}" type="text/css" />
{% endblock %}
{% block extra_js %}
{% endblock %}

{% block principal %}	
<body class="login">


	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<div>
				<img  src="{% static 'images/login.png' %}?{% now "Ymd"%}"  class="logo_login" >				
		
		</div>
		
		<form class="login-form" accept-charset="UTF-8" role="form" action="/login/" method="post">
	       {% csrf_token %}

			<div class="form-group">
			 <div class="input-group">						
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<label class="control-label visible-ie8 visible-ie9">Usuario</label>
				<input class="form-control form-control-solid placeholder-no-fix" type="text" required autofocus autocomplete="off" placeholder="Usuario" name="username"/>
			 </div>
			</div>
			<div class="form-group">
			 <div class="input-group">			
				
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				<label class="control-label visible-ie8 visible-ie9">Contraseña</label>
				<input class="form-control form-control-solid placeholder-no-fix" type="password" required placeholder="Contraseña" name="password"/>
			 </div>
			</div>
			
			<div class="form-actions">
				<input type="submit" name="login" class="btn grey-gallery uppercase" value="Ingresar">				
			</div>		

		</form>
		<!-- END LOGIN FORM -->
		<!-- BEGIN FORGOT PASSWORD FORM -->
		
		<!-- END FORGOT PASSWORD FORM -->
		
	</div>
</body>	


{% endblock principal %}