{% load bootstrap3 %}

<div class="row collapse" id="barra_busqueda">
    <div class="col-md-12">
        <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
        {% csrf_token %} 
        <div class="barra_busqueda  col-xs-12">                                                                                       
            <div class="col-sm-3 col-xs-12">{% bootstrap_field form.entidad  %}</div>
            <div class="col-sm-1 col-xs-2">{% bootstrap_field form.pto_vta  %}</div>                              
            <div class="col-sm-1 col-xs-1">{% bootstrap_field form.letra  %}</div>                                
            <div class="col-sm-1 col-xs-3">{% bootstrap_field form.estado  %}</div>
            <div class="col-sm-1 col-xs-3">{% bootstrap_field form.fdesde  %}</div>                                
            <div class="col-sm-1 col-xs-3">{% bootstrap_field form.fhasta  %}</div>
            <div class="col-sm-1">{% bootstrap_field form.cae  %}</div>
            <div class="col-sm-2 col-xs-8">{% bootstrap_field form.vendedor  %}</div>                                                                    
            <div class="col-sm-1 col-xs-4"><button class="btn btn-sm color_barra" type="submit">Buscar</button></div>
        </div>     
        </form>                    
    </div>
</div>