{% extends "index.html" %}
{% load static from staticfiles %}
{% load i18n l10n %}
{% load humanize %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/abms.css'%}?{% now "Ymd"%}" type="text/css" >
{% endblock %}

{% block cargando %}            
<div id="cargando" class="cargando" >
    <span class="cargando-txt">PROCESANDO...</span>
    <img class="cargando-img" src="{% static 'img/loading-bars.svg' %}">
</div>
{% endblock cargando %}
{% block main %}
<div class="col-md-12">
<div class="row">
    <div class="portlet box toolbar_blue">
        <div class="portlet-title">
            <div class="caption bold"><i class="fa fa-print"></i>RECUPERAR CPBS "NO GENERADOS" desde AFIP</div>
        </div>

            <div class="col-md-12">
                <form class="form" accept-charset="UTF-8" role="form" action="" method="post">
                    {% csrf_token %}
                    <div class="barra_busqueda row">
                        <div class="col-sm-2 col-xs-12">{% bootstrap_field form.cpb_tipo  %}</div>
                        <div class="col-sm-1 col-xs-3">{% bootstrap_field form.pto_vta  %}</div>
                        <div class="col-sm-2 col-xs-5">{% bootstrap_field form.generar  %}</div>
                        <div class="col-sm-1 col-xs-4"><button class="btn btn-sm color_barra" type="submit">Buscar</button></div>
                    </div>
                </form>
            </div>
    </div>
</div>
<br>
<div class="row" id="barra_busqueda">
    <div class="portlet box toolbar_blue">
        <div class="portlet-title">
            <div class="caption bold"><i class="icon-user"></i>Listado CPBs</div>
        </div>
        <div class="portlet-body">
            <div class="col-md-12">
                
                {% if resultado %}
                    <table width="100%" id="dataTables-primary" class="table table-striped table-hover table-condensed table-no-bordered tabla_nueva">
                        <thead>
                            <tr>
                                <th class="text-center" width="5%">CPB Siguiente Sistema</th>
                                <th class="text-center" width="5%">Fecha</th>
                                <th class="text-center" width="15%">Tipo CPB</th>
                                <th class="text-center" width="5%">PV</th>                                
                                <th class="text-center" width="5%">Nº</th>
                                <th class="imprimir">CAE</th>
                                <th class="text-center" width="15%">TipoDoc</th>
                                <th class="text-center" width="15%">NºDoc/CUIT</th>
                                <th class="text-center" width="15%">Receptor</th>
                                <th class="imprimir">Neto Gravado</th>
                                <th class="imprimir">Neto NoGravado</th>
                                <th class="imprimir">Exento</th>
                                <th class="imprimir">IVA</th>
                                <th class="imprimir">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in resultado %}
                                <tr>
                                    <td class="text-center">{{ r.cpb_sistema|default_if_none:'Ninguno' }}</td>
                                    <td class="text-center">{{ r.fecha_cbte|date:'d/m/Y' }}</td>
                                    <td class="text-center">{{ r.tipo_cbte|default_if_none:'' }}</td>
                                    <td class="text-center">{{ r.punto_vta|default_if_none:'' }}</td>
                                    <td class="text-center">{{ r.factura.cbt_desde|default_if_none:'' }}</td>
                                    <td>{{ r.cae|default_if_none:'' }}</td>
                                    <td class="text-center">{{ r.factura.tipo_doc|default_if_none:'' }}</td>
                                    <td class="text-center">{{ r.factura.nro_doc|default_if_none:'' }}</td>
                                    <td class="text-center">{{ r.receptor|default_if_none:'' }}</td>
                                    <td class="text-center">${{ r.imp_neto|default_if_none:0|floatformat:2 }}</td>
                                    <td class="text-center">${{ r.imp_neto_nograv|default_if_none:0|floatformat:2 }}</td>
                                    <td class="text-center">${{ r.imp_exento|default_if_none:0|floatformat:2 }}</td>
                                    <td class="text-center">${{ r.imp_iva|default_if_none:0|floatformat:2 }}</td>
                                    <td class="text-center">${{ r.imp_total|default_if_none:0|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                    {{resultado}}
                {% else %}
                    
                    <div class="col-xs-12 ">
                        <fieldset><h3 class="text-center">  NO HAY COMPROBANTES DE AFIP FALTANTES </h3>
                        </fieldset>
                    </div>
                    
                {% endif %}
                
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {  
   $('#cargando').hide();
   $( "#Procesar" ).click(function() {        
        $('#cargando').show();
        $("#Procesar").prop("disabled", true);    
        $( "#importador" ).submit();         
      });
 });
</script>
  

<script type="text/javascript">

$(document).ready(function() { 
  
moment.locale('es');
$.fn.dataTable.moment('DD/MM/YYYY'); 
var tabla = $('#dataTables-primary').DataTable({
            "language": {
                "decimal": ",",
                "thousands": ".",                
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay registros en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Ãšltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "decimal": ",",
                "thousands": ".",                
            },                      
           
           "bPaginate": false,
           "autoWidth": false,
           "order": [],
           "colReorder": true,
           "searching": true,
            fixedHeader: {
              header: true,
              footer: false
              },
           responsive: true,
           dom: 'Bfrtip',
            buttons: [
                {
                    extend:    'colvis',
                    text:      '<i class="fa fa-list"></i>',
                    titleAttr: 'Ver/Ocultar',
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'copyHtml5',
                    text:      '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copiar',
                    exportOptions: { columns: ':visible' },
                    className: 'btnToolbar',                    
                },
                {
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    filename: 'BANCOS',                    
                    exportOptions: {  modifier: {
                                        page: 'current'
                                    }, 
                                      columns: '.imprimir',
                                      format: {
                                      body: function(data, row, column, node) {
                                        var floatVal = function (i) {
                                            if (typeof i === "number") {
                                                return i;
                                            } else if (typeof i === "string") {
                                                i = i.replace(/\$/g, "");
                    i = i.replace(/\,/g ,"");                    
                    i = i.replace(/\./g, "");
                                                var result = parseFloat(i)/100;
                                                // console.log(result);
                                                if (isNaN(result)) {
                                                    try {
                                                        var result = $jq(i).text();
                                                        result = parseFloat(result);
                                                        if (isNaN(result)) { result = 0 };
                                                        return result * 1;
                                                    } catch (error) {
                                                        return 0;
                                                    }
                                                } else {
                                                    return result * 1;
                                                }
                                            } else {
                                                alert("Unhandled type for totals [" + (typeof i) + "]");
                                                return 0
                                            }
                                        };
                                          data = $('<p>' + data + '</p>').text();
                                          return (node.className=='importe') ? floatVal(data)  : data;
                                      }
                                    }},
                    className: 'btnToolbar',     
                },
               
                {
                    extend:    'pdfHtml5',
                    text:      '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',footer: true,
                    exportOptions: { columns: '.imprimir' },
                    className: 'btnToolbar',                    
                },
                {
                    extend: 'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Imprimir',
                    exportOptions: { columns: '.imprimir' },
                    className: 'btnToolbar',                    
                },
            ],
        });




});
</script> 
{% endblock main %}





