{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

<div id="form-container">
    <form role="form" class="form " method="POST" action="" id="form-alta" enctype="multipart/form-data">
     {% csrf_token %}         
        {{ form.media }}
        <div class="col-xs-12">
	         	<div class="row">										
					<div class="col-sm-3">{% bootstrap_field form.codigo %}</div>																		  
					<div class="col-sm-9">{% bootstrap_field form.nombre %}</div>																		  
			  	</div>								
		</div>
		<div class="modal-buttons">
            <div class="row">
                <div class="col-xs-6">
                 <button data-dismiss="modal" class="btn btn-sm pull-left btn btn-danger" type="button">
                      <i class="fa fa-times"></i> {% trans 'Cancelar' %}
                 </button>
                </div>
                <div class="col-xs-6">
                 <button  class="btn pull-right btn-sm btn-primary" id="Aceptar" type="submit">
                      <i class="fa fa-check"></i>{% trans 'Aceptar' %}</button>
                </div>
              
              </div>
            
        </div>
    </form>
</div>