{% load static from staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block main %}    
<div class=" col-sm-12 "> 
<div class="row">
<div class=" col-sm-12 "> 
<table width="100%"  class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">
  <tr>
    <td width="10%" class=" borde_izq texto_der">Entidad/Institución:</td>
    <td class="texto_izq" width="63%">{% if cpb.entidad.fact_razon_social %}{{cpb.entidad.fact_razon_social|upper}}{% else %}{{cpb.entidad.apellido_y_nombre|upper}}{% endif %}</td>
    <td width="9%" class="texto_der">Localidad:</td>
    <td width="18%" class="texto_izq borde_der">{{cpb.entidad.localidad|default_if_none:''|upper}}</td>
  </tr>
  <tr>
    <td class="texto_der borde_izq">Dirección:</td>
    <td class="texto_izq">{{cpb.entidad.domicilio|default_if_none:''|upper}}</td>
    <td class="texto_der">Provincia:</td>
    <td class="texto_izq borde_der">{{cpb.entidad.get_provincia_display|default_if_none:''|upper}}</td>
  </tr>
  <tr>
    <td class="texto_der borde_izq borde_abajo">I.V.A.:</td>
    <td class="texto_izq borde_abajo">{{cpb.entidad.get_fact_categFiscal_display|default_if_none:''|upper}}</td>
    <td class="texto_der borde_abajo">CUIT:</td>
    <td class="texto_izq borde_der borde_abajo">{{cpb.entidad.fact_cuit|default_if_none:''|upper}}</td>
  </tr> 
   {% if cpb.observacion %}
   <tr>
    <td class="texto_der borde_izq borde_abajo">Detalle:</td>
    <td class="texto_izq borde_izq borde_der borde_abajo" colspan="3">{{cpb.observacion}}</td>    
  </tr> 
 {% endif %} 
  
</table>
{% if cobranzas %}
<table width="100%" class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">
  <thead>
    <th style="width: 40%;">CPB Originante</th>
    <th style="width: 20%;">Nº</th>
    <th style="width: 20%;">Importe</th>
    <th style="width: 20%;">Saldado</th>
  </thead> 
  <tbody>  
    {% for item in cobranzas %}
    <tr>      
      <td class="listado_izq borde_izq">{{item.cpb_factura.cpb_tipo|default_if_none:''}}</td>            
      <td class="listado_izq borde_izq">{{item.cpb_factura|default_if_none:''}}</td>            
      <td class="listado_der borde_izq">${{item.cpb_factura.importe_total|default_if_none:0|floatformat:2}}</td>
      <td class="listado_der borde_der borde_izq">${{item.importe_total|default_if_none:0|floatformat:2}}</td>
    </tr> 
    {% endfor cobranzas %}
  </tbody>
  </table>
{% endif %}  
<table width="100%" class="table table-striped compact table-hover table-no-bordered tabla_nueva nowrap">
  <thead>
    <th style="width: 20%;">Tipo</th>
    <th style="width: 20%;">Cuenta</th>                                                                      
    <th style="width: 10%;">Detalle</th>
    <th style="width: 8%;">Fecha</th>
    <th style="width: 20%;">Banco</th>
    <th style="width: 10%;">Nº Cheque</th>
    <th style="width: 20%;">Importe</th>          
  </thead>
  <tbody>
  {% for item in detalle %}
    <tr>
      <td class="listado_izq borde_izq">{{item.tipo_forma_pago|default_if_none:''}}</td>
      <td class="listado_izq borde_izq">{{item.cta_ingreso|default_if_none:''}}{{item.cta_egreso|default_if_none:''}}</td>
      <td class="listado_izq borde_izq">{{item.detalle|default_if_none:''}}</td>
      <td class="listado_izq borde_izq">{{item.mdcp_fecha|date:'d/m/Y'}}</td>
      <td class="listado_izq borde_izq">{{item.mdcp_banco|default_if_none:''}}</td>
      <td class="listado_izq borde_izq">{{item.mdcp_cheque|default_if_none:''}}</td>      
      <td class="listado_der borde_der borde_izq">${{item.importe|default_if_none:0|floatformat:2}}</td>
    </tr>       
  {% endfor detalle %}
  </tbody>
  <tfoot>
     <tr>
       <th colspan="5"></th>
       <th >Total:</th>
       <th> ${{cpb.importe_total|default_if_none:0|floatformat:2}}</th>
     </tr>
    </tfoot>   
 </table> 
</div>

<div class=" col-sm-12 "> 
<button data-dismiss="modal" class="btn pull-left btn-sm red-flamingo" type="button"><i class="fa fa-times"></i>Cancelar</button>
<a class="btn pull-right btn-sm blue-steel" target="_blank" href="{% url 'imprimirCobranza' id=cpb.pk %}">Imprimir</a>
</div>
</div>  
{% endblock main %}      