{% load static from staticfiles %}
{% load humanize %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{pedido|upper}}</title>

<style type="text/css">
@import url("{% static 'css/reportes_factura.css'%}");

 @page {
         margin: 1cm 0.5cm 1cm 0.5cm;
         padding: 0;         
         @frame footer {
                        -pdf-frame-content: page-footer;
                        bottom: 0.5cm;
                        height: 4cm;
                        margin-right: 0.5cm;                        
                        margin-left: 0.5cm;                        
                        width: 100%;
                    }
         @frame header {
                        -pdf-frame-content: page-header;
                        margin-top: 1cm;
                        margin-right: 1cm;                        
                        margin-left: 1cm;
                        margin-bottom: 1cm;
                        height: 2cm;                      
                    }
         }
</style>
</head>

<body>
  <table width="100%" class="tabla" >
  <tr>
    <td rowspan="2" width="80%" class="borde_arriba borde_abajo borde_izq borde_der titulo_reporte">NOTA DE PEDIDO</td>
    <td class="borde_arriba nombre_cpb borde_der borde_abajo" width="20%">Nº {{pedido.numero}}</td>
  </tr>
  <tr>
    <td class="nombre_cpb borde_der borde_abajo">{{pedido.fecha|date:'d/m/Y'}}</td>
  </tr>
</table>
<br/>
<table width="100%" class="tabla"> 
  <tr>
    <td width="15%" class="borde_arriba borde_izq texto_der">Cliente:</td>
    <td class="texto_izq borde_arriba" width="40%">{% if pedido.cliente.fact_razon_social %}{{pedido.cliente.fact_razon_social|upper}}{% else %}{{pedido.cliente.apellido_y_nombre|upper}}{% endif %}</td>
    <td width="20%" class="texto_der borde_arriba">Localidad:</td>
    <td width="25%" class="texto_izq borde_der borde_arriba">{{pedido.cliente.localidad|default_if_none:''|upper}}</td>
  </tr>
  <tr>
    <td class="texto_der borde_izq">Dirección:</td>
    <td class="texto_izq">{% if pedido.cliente.fact_direccion %}{{pedido.cliente.fact_direccion|default_if_none:''|upper}}{% else %}{{pedido.cliente.domicilio|default_if_none:''|upper}}{% endif %}</td>
    <td class="texto_der">Provincia:</td>
    <td class="texto_izq borde_der">{{pedido.cliente.get_provincia_display|default_if_none:''|upper}}</td>
  </tr>
  <tr>
    <td class="texto_der borde_izq borde_abajo">Tel./Cel.:</td>
    <td class="texto_izq borde_abajo">{{pedido.cliente.fact_telefono|default_if_none:''|upper}}</td>
    <td class="texto_der borde_abajo">CUIT:</td>
    <td class="texto_izq borde_der borde_abajo">{{pedido.cliente.fact_cuit|default_if_none:''}}</td>
  </tr> 
  <tr>
    <td class="texto_der borde_izq ">Muestra Enviada:</td>
    <td class="texto_izq ">{{pedido.muestra_enviada|default_if_none:''|upper}}</td>
    <td class="texto_der ">Entrega:</td>
    <td class="texto_izq borde_der ">{{pedido.fecha_entrega|date:'d/m/Y'}} {{pedido.hora_entrega|time:'H:i'}}{% if pedido.hora_entrega %} hs.{% endif %}</td>
  </tr> 
  <tr>
    <td class="texto_der borde_izq borde_abajo">Archivo/Medio:</td>
    <td class="texto_izq borde_abajo">{{pedido.archivo_enviado|default_if_none:''|upper}}</td>
    <td class="texto_der borde_abajo">Firmado/Aceptado:</td>
    <td class="texto_izq borde_der borde_abajo">{{pedido.firma_conformidad|yesno:"Si,No"}}</td>
  </tr> 
  
</table>
<br/>
<table width="100%" class="tabla">
  <thead>
    <tr><th width="20%" class="borde_izq borde_arriba borde_abajo tabla_header">Pedido</th>
    <th width="40%" class="borde_izq  borde_arriba borde_abajo tabla_header">Tipo Impresión</th>
    <th width="40%" class="borde_izq borde_der  borde_arriba borde_abajo tabla_header">Terminación</th>    
  </thead>

    <tr>      
      <td class="borde_izq listado_centro">
        {% if pedido.ped_mostrador %}MOSTRADOR&nbsp;{% endif %}{% if pedido.ped_webface %}WEB/FACEB&nbsp;{% endif %}
        {% if pedido.ped_comercial %}COMERCIAL&nbsp;{% endif %}{% if pedido.ped_email %}E-MAIL{% endif %}      </td>
      <td class="borde_izq listado_centro">
        {% if pedido.ped_mostrador %}LASER&nbsp;{% endif %}{% if pedido.ped_webface %}LATEX&nbsp;{% endif %}{% if pedido.ped_comercial %}ROTULADO{% endif %}
     
        {% if pedido.impres_offset %}OFFSET&nbsp;{% endif %}{% if pedido.impres_corporeo %}CORPÓREO&nbsp;{% endif %}{% if pedido.impres_disenio %}DISEÑO{% endif %}
      
        {% if pedido.impres_ploteo_papel %}PLOTEO PAPEL&nbsp;{% endif %}{% if pedido.impres_facturero %}FACTURERO&nbsp;{% endif %}{% if pedido.impres_sellos %}SELLOS&nbsp;{% endif %}{% if pedido.impres_imprbyn %}IMPR.B/N{% endif %}
      </td>
      <td class="borde_izq listado_centro borde_der">
        {% if pedido.term_cortado %}CORTADO&nbsp;{% endif %}{% if pedido.term_troquelado %} TROQUELADO&nbsp;{% endif %}{% if pedido.term_abrochado %}ABROCHADO&nbsp;{% endif %}
     
        {% if pedido.term_engomado %}ENGOMADO&nbsp;{% endif %}{% if pedido.term_plegado %} PLEGADO&nbsp;{% endif %}{% if pedido.term_arandelas %}ARANDELAS&nbsp;{% endif %}
      
        {% if pedido.term_bolsillos %}BOLSILLOS&nbsp;{% endif %}{% if pedido.term_plastificado %}PLASTIFICADO&nbsp;{% endif %}{% if pedido.term_imp_corte %}IMPyCORTE{% endif %}{% if pedido.term_anillado %}ANILLADO{% endif %}
      </td>
    </tr> 
    <td colspan="3" class="tabla_footer borde_izq borde_der borde_abajo borde_arriba "></td>      
</table>
<br/>
<table width="100%" class="tabla">
  <tr>
    <td colspan="3" class="nombre_cpb borde_izq borde_der borde_arriba">DETALLES PEDIDO</td>    
  </tr>  
  <thead>
  <th class="borde_izq borde_arriba borde_abajo tabla_header" width="15%">Cantidad</th>
    <th class="  borde_arriba borde_abajo tabla_header">Detalle</th>  
    <th class="borde_der  borde_arriba borde_abajo tabla_header" width="25%">Subtotal</th>
  </thead>
  {% for item in detalle_pedido %}
    <tr>      
      <td class="listado_der borde_izq">{{item.cantidad|default_if_none:0|floatformat:2|intcomma}} {{item.producto.get_unidad_display}}</td>
      <td class="listado_izq borde_izq">{{item.producto}} {% if item.detalle %} ({{item.detalle}}) {% endif %}</td>      
      <td class="listado_der borde_der borde_izq">${{item.importe_total|default_if_none:0|floatformat:2|intcomma}}</td>
    </tr>       
  {% endfor detalle_pedido %}
  {% for i in renglones %}  
    <tr>
      <td class="listado_der borde_izq">&nbsp;</td>
      <td class="listado_izq borde_izq"></td>
      <td class="listado_der borde_der borde_izq"></td>
    </tr>     
  {% endfor %}
  <tr class="">
    <td colspan="3" class="tabla_footer borde_izq borde_der borde_abajo borde_arriba">Total Orden: ${{pedido.importe_total|default_if_none:0|floatformat:2|intcomma}}</td>
  </tr>
</table>
<div id="page-footer">
   {% if pedido.detalle %}
 <table width="100%" class="tabla">
  <tr>
    <td class="listado_der borde_izq borde_abajo borde_arriba" width="20%">Observaciones:</span></td>
    <td  valign="top" class="texto_izq borde_izq borde_der borde_arriba borde_abajo">{{pedido.detalle|default_if_none:''}}</td>
  </tr>
</table>
{% endif %}
</div>

</body>
</html>
