{% load static from staticfiles %}
{% load humanize %}
{% load comprobantes_filters %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{cpb|upper}}</title>
<link rel="stylesheet" href="{% static 'css/reportes_factura.css' %}" type="text/css" />
<style type="text/css">

 @page {
         margin: 0.5cm 0.5cm 0.5cm 0.5cm;
         padding: 0;         
         @frame footer {
                        -pdf-frame-content: page-footer;
                        bottom: 0.5cm;
                        height: 4cm;
                        margin-right: 0.5cm;                        
                        margin-left: 0.5cm;                        
                    }
         @frame header {
                        -pdf-frame-content: page-header;
                        margin-top: 0cm;
                        margin-right: 1cm;                        
                        margin-left: 1cm;
                        margin-bottom: 1cm;
                        height: 2cm;                      
                    }
         }
</style>
</head>

<body>  
{% include 'general/facturas/encabezado.html'%}
<table width="100%" >
  <tr>
    <td width="10%" class=" borde_izq texto_der">Señor/es:</td>
    <td class="texto_izq" width="63%">{% if cpb.entidad.fact_razon_social %}{{cpb.entidad.fact_razon_social|upper}}{% else %}{{cpb.entidad.apellido_y_nombre|upper}}{% endif %}</td>
    <td width="9%" class="texto_der">Localidad:</td>
    <td width="18%" class="texto_izq borde_der">{{cpb.entidad.localidad|default_if_none:''|upper}}</td>
  </tr>
  <tr>
    <td class="texto_der borde_izq">Dirección:</td>
    <td class="texto_izq">{% if cpb.entidad.fact_direccion %}{{cpb.entidad.fact_direccion|default_if_none:''|upper}}{% else %}{{cpb.entidad.domicilio|default_if_none:''|upper}}{% endif %}</td>
    <td class="texto_der">Provincia:</td>
    <td class="texto_izq borde_der">{{cpb.entidad.get_provincia_display|default_if_none:''|upper}}</td>
  </tr>
  <tr>
    <td class="texto_der borde_izq borde_abajo">I.V.A.:</td>
    <td class="texto_izq borde_abajo">{{cpb.entidad.get_fact_categFiscal_display|default_if_none:''|upper}}</td>
    <td class="texto_der borde_abajo">{{cpb.entidad.get_tipo_doc_display|default_if_none:'CUIT/DNI'|upper}}:</td>
    <td class="texto_izq borde_der borde_abajo">{{cpb.entidad.get_nro_doc_cuit|default_if_none:''|upper}}</td>
  </tr>   
</table>
<table width="100%" class="tabla">
  <thead>
    <th class="borde_izq borde_arriba borde_abajo tabla_header" width="15%">Cantidad</th>
    <th class="  borde_arriba borde_abajo borde_der tabla_header">Descripción</th>    
  </thead>
  {% for item in detalle_comprobante %}
    <tr>      
      <td class="listado_der borde_izq">{{item.cantidad|default_if_none:0|floatformat:2|intcomma}} {{item.producto.get_unidad_display}}</td>
      <td class="listado_izq borde_izq borde_der">{{item.producto}} {% if item.detalle %} ({{item.detalle}}) {% endif %}</td>      
    </tr>       
  {% endfor detalle_comprobante %}
  {% for i in renglones %}  
     {% if forloop.last %}
      <tr>
        <td class="listado_der borde_izq borde_abajo">&nbsp;</td>     
        <td class="listado_izq borde_der borde_izq borde_abajo"></td>
      </tr>
     {% else %}
      <tr>
        <td class="listado_der borde_izq">&nbsp;</td>     
        <td class="listado_izq borde_der borde_izq"></td>
      </tr>
     {% endif %}
    

  {% endfor %}
</table>
<div id="page-footer">
    <table width="100%" >    
        <tr>
           <td width="15%"  class="texto_der borde_izq borde_arriba borde_abajo">Observaciones:</span></td>
           <td class="texto_izq borde_der borde_arriba borde_abajo">{{cpb.observacion|default_if_none:''}}</td>    
        </tr>            
    </table>
      <br>
    <table width="100%" >
      <tr>
        <td colspan="5" class=""></td>
      </tr>
      <tr>
        <td width="10%"></td>
        <td width="30%" class=" texto_firma">Transportista</td>    
        <td width="20%" class=" "></td>
        <td width="30%" class="texto_firma">CUIT</td>
        <td width="10%"></td>
      </tr>
      <tr>
        <td colspan="5" class=""></td>
      </tr>
      <tr>
        <td colspan="5" class=""></td>
      </tr>
      <tr>
        <td width="10%"></td>
        <td width="30%" class="texto_firma">Recibí Conforme</td>    
        <td width="20%" class=" "></td>
        <td width="30%" class="texto_firma">Firma y Aclaración</td>
        <td width="10%"></td>  
      </tr>
    </table>
</div>
<div>
   <pdf:nextpage/>
</div>

<table width="100%" align="center" >
  <tr>
    {% if tipo_logo_factura == 3 %} 
       <td align="center" rowspan="5" width="20%" valign="middle" class="borde_izq borde_arriba borde_abajo">
           {% if ruta_logo|existe_img %} 
          <img src="/media/{{ruta_logo|existe_img}}" alt="logo" class="logo_factura" /> 
          {% endif %} 
      </td>
      <td align="center" rowspan="5" width="26%" valign="middle" class="borde_arriba borde_abajo">       
          <h1 class="empresa">{{nombre_fantasia}}</h1>          
          <h3>{{domicilio}}</h3>
          <h3>{{email}}</h3>
          <h3>{{telefono}} {{celular}}</h3>        
      </td>

    {% elif tipo_logo_factura == 2 %}
      <td align="center" rowspan="5" width="46%" valign="middle" class="borde_izq borde_arriba borde_abajo">
        {% if ruta_logo|existe_img %} 
          <img src="/media/{{ruta_logo|existe_img}}" alt="logo" class="logo_factura" /> {% else %}
          <h1 class="empresa">{{nombre_fantasia}}</h1>          
          <h3>{{domicilio}}</h3>
          <h3>{{email}}</h3>
          <h3>{{telefono}} {{celular}}</h3>  
        {% endif %} 
      </td>

    {% else %}
    <td align="center" rowspan="5" width="46%" valign="middle" class="borde_izq borde_arriba borde_abajo">     
        <h1 class="empresa">{{nombre_fantasia}}</h1>          
        <h3>{{domicilio}}</h3>
        <h3>{{email}}</h3>
        <h3>{{telefono}} {{celular}}</h3>     
    </td>

    {% endif %}
    <td colspan="2" align="center" valign="middle" class="borde letra_cpb">
      <span class="letra_cpb">{{cpb.letra|upper}}</span><p class="letra_cod">DUPLICADO</p>
    </td>
    <td colspan="2" class="nombre_cpb borde_arriba borde_der">{% if tipo_cpb %}{{tipo_cpb|upper}}{% else %}{{cpb.cpb_tipo.nombre|upper}}{% endif %}<p class="letra_cod">{{leyenda}}</p>
  </tr>
  <tr>
    <td width="5%" align="center" class="">&nbsp;</td>
    <td width="5%" align="center " class="borde_izq">&nbsp;</td>
    <td width="22%" class="texto_cpb">Nº: {{cpb.get_numero}}</td>
    <td width="22%" class="texto_cpb borde_der">Fecha: {{cpb.fecha_cpb|date:'d/m/Y'}}</td>
  </tr>
  <tr>
    <td class="borde_der" >&nbsp;</td>
    <td class="borde_izq" >&nbsp;</td>
    <td class="texto_cpb"><span class="texto_cpb ">CUIT: {{cuit}}</span></td>
    <td class="texto_cpb borde_der">IIBB: {{iibb}}</td>
  </tr>
  <tr>
    <td class="borde_der">&nbsp;</td>
    <td class="borde_izq">&nbsp;</td>
    <td colspan="2" class="texto_cpb borde_der">{{get_categ_fiscal_display|upper}}</td>
  </tr>
  <tr>
    <td class="borde_der borde_abajo"></td>
    <td class="borde_abajo"></td>
    <td colspan="2" class="borde_abajo texto_cpb borde_der">Inicio de Actividades: {{fecha_inicio_activ|date:'d/m/Y'}}</td>
  </tr>
</table>
<table width="100%" >
  <tr>
    <td width="10%" class=" borde_izq texto_der">Señor/es:</td>
    <td class="texto_izq" width="63%">{% if cpb.entidad.fact_razon_social %}{{cpb.entidad.fact_razon_social|upper}}{% else %}{{cpb.entidad.apellido_y_nombre|upper}}{% endif %}</td>
    <td width="9%" class="texto_der">Localidad:</td>
    <td width="18%" class="texto_izq borde_der">{{cpb.entidad.localidad|default_if_none:''|upper}}</td>
  </tr>
  <tr>
    <td class="texto_der borde_izq">Dirección:</td>
    <td class="texto_izq">{% if cpb.entidad.fact_direccion %}{{cpb.entidad.fact_direccion|default_if_none:''|upper}}{% else %}{{cpb.entidad.domicilio|default_if_none:''|upper}}{% endif %}</td>
    <td class="texto_der">Provincia:</td>
    <td class="texto_izq borde_der">{{cpb.entidad.get_provincia_display|default_if_none:''|upper}}</td>
  </tr>
  <tr>
    <td class="texto_der borde_izq borde_abajo">I.V.A.:</td>
    <td class="texto_izq borde_abajo">{{cpb.entidad.get_fact_categFiscal_display|default_if_none:''|upper}}</td>
    <td class="texto_der borde_abajo">CUIT:</td>
    <td class="texto_izq borde_der borde_abajo">{{cpb.entidad.fact_cuit|default_if_none:''}}</td>
  </tr>   
</table>
<table width="100%" class="tabla">
  <thead>
    <th class="borde_izq borde_arriba borde_abajo tabla_header" width="15%">Cantidad</th>
    <th class="  borde_arriba borde_abajo borde_der tabla_header">Descripción</th>    
  </thead>
  {% for item in detalle_comprobante %}
    <tr>      
      <td class="listado_der borde_izq">{{item.cantidad|default_if_none:0|floatformat:2|intcomma}} {{item.producto.get_unidad_display}}</td>
      <td class="listado_izq borde_izq borde_der">{{item.producto}} {% if item.detalle %} ({{item.detalle}}) {% endif %}</td>      
    </tr>       
  {% endfor detalle_comprobante %}
  {% for i in renglones %}  
     {% if forloop.last %}
      <tr>
        <td class="listado_der borde_izq borde_abajo">&nbsp;</td>     
        <td class="listado_izq borde_der borde_izq borde_abajo"></td>
      </tr>
     {% else %}
      <tr>
        <td class="listado_der borde_izq">&nbsp;</td>     
        <td class="listado_izq borde_der borde_izq"></td>
      </tr>
     {% endif %}
    

  {% endfor %}
</table>
<div id="page-footer">
    <table width="100%" >    
        <tr>
           <td width="15%"  class="texto_der borde_izq borde_arriba borde_abajo">Observaciones:</span></td>
           <td class="texto_izq borde_der borde_arriba borde_abajo">{{cpb.observacion|default_if_none:''}}</td>    
        </tr>            
    </table>
      <br>
    <table width="100%" >
      <tr>
        <td colspan="5" class=""></td>
      </tr>
      <tr>
        <td width="10%"></td>
        <td width="30%" class=" texto_firma">Transportista</td>    
        <td width="20%" class=" "></td>
        <td width="30%" class="texto_firma">CUIT</td>
        <td width="10%"></td>
      </tr>
      <tr>
        <td colspan="5" class=""></td>
      </tr>
      <tr>
        <td colspan="5" class=""></td>
      </tr>
      <tr>
        <td width="10%"></td>
        <td width="30%" class="texto_firma">Recibí Conforme</td>    
        <td width="20%" class=" "></td>
        <td width="30%" class="texto_firma">Firma y Aclaración</td>
        <td width="10%"></td>  
      </tr>
    </table>
</div>


</body>
</html>
