{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load i18n %}

<script src="{% static 'js/scripts/scripts_producto_modal.js' %}" type="text/javascript"></script>
<div id="form-container">
	<form role="form" class="form " method="POST" action="" id="form-alta" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.media }}
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<div class="row cerca">
						<div class="col-sm-2">{% bootstrap_field form.codigo %}</div>
						<div class="col-sm-6">{% bootstrap_field form.nombre %}</div>
						<div class="col-sm-4">{% bootstrap_field form.codigo_barras %}</div>
					</div>
					<div class="row cerca">
						<div class="col-sm-3">{% bootstrap_field form.categoria %}</div>
						<div class="col-sm-3">{% bootstrap_field form.tipo_producto %}</div>
						<div class="col-sm-2">{% bootstrap_field form.mostrar_en %}</div>
						<div class="col-sm-2">{% bootstrap_field form.tasa_iva %}</div>
						<div class="col-sm-2">{% bootstrap_field form.unidad %}</div>
					</div>
					<div class="row ">
						<fieldset>
							<legend>Ubicación/Stock</legend>
							<div class="col-sm-3 col-xs-12">
								{% bootstrap_field form.llevar_stock show_label=False %}
								{% bootstrap_field form.stock_negativo show_label=False %}
							</div>
							<div class="col-sm-9 col-xs-12">
								<div class="row">
										<div class="col-sm-6 cerca">{% bootstrap_field form.ubicacion %}</div>
										<div class="col-sm-3 cerca">{% bootstrap_field form.stock %}</div>
										<div class="col-sm-3 cerca">{{form.ppedido|as_crispy_field}}</div>									
								</div>
							</div>
						</fieldset>
					</div>
					<div class="row">
						<fieldset>
							<legend>Precios/Listas</legend>
							<div class="col-xs-12">
								<div class="row">									
										<div class="col-sm-4 cerca">{% bootstrap_field form.lista_precios %}</div>
										<div class="col-sm-2 cerca">{% bootstrap_field form.precio_costo %}</div>
										<div class="col-sm-2 cerca">{% bootstrap_field form.precio_cimp %}</div>																			
										<div class="col-sm-2 cerca">{{form.coef_ganancia|as_crispy_field}}</div>									
										<div class="col-sm-2 cerca">{% bootstrap_field form.precio_venta %}</div>
								</div>
							</div>
						</fieldset>
				</div>
				<div class="row">
					<div class="col-xs-12">
						{% bootstrap_field form.descripcion show_label=True %}
					</div>
					
				{% if form.non_field_errors  %}
					     	<script type="text/javascript">
					     	alertify.errorAlert("{% for err in form.non_field_errors %}{{err}}{% endfor %}");
					     	</script>
					    {% endif %}       
				        {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}	
				</div>
			</div>
		</div>
	</div>
</form>
</div>