{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}


  <div id="form-container">
    <form role="form" class="form " method="POST" action="" id="form-alta">
     {% csrf_token %}         
        {{ form.media }}
        {% crispy form %}
    </form>
</div>

 <script type="text/javascript">
function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#id_foto').attr('src',e.target.result);
        }
        console.log(input.files[0]);
         
        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});

    </script>